﻿
.admin-bar .navigation-item .internal-link.select-page { float: left; margin-left: 0; margin-right: 20px; }
.admin-bar .navigation-item .internal-link.import-export-page, .admin-bar .navigation-item .internal-link.revert-page { float: left; }

.menu.select-page-content { background-color: #6C7980; border: 1px solid #323A3F; border-top-width: 0; border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; padding: 10px; color: #fff; width: 300px; }
.menu.select-page-content .field-item-header { font-size: 12px; display: block; padding-bottom: 2px; font-weight: normal; }
.menu.select-page-content .field-item-input { display: block; font-size: 12px; }
.menu.select-page-content .field-item { padding: 8px 0; }
.menu.select-page-content .field-item.select-page { border-bottom: 1px solid #424A4F; }
.menu.select-page-content .field-item.select-version .field-item-input { padding: 2px 0 0 0; }

.menu.save-page-content { background-color: #6C7980; border: 1px solid #323A3F; border-top-width: 0; border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; padding: 10px; color: #fff; width: 250px; }
.menu.save-page-content .field-item-input { display: block; font-size: 12px; padding: 4px 0; }
.menu.save-page-content .field-item { padding: 0; }
.menu.save-page-content .field-item.override .field-item-input { padding-left: 40px; position: relative;}
.menu.save-page-content .field-item.override .field-item-input input { position: absolute; left: 20px; top:2px; }

.page-management-shade { background-image: url('../images/spacer.gif'); position: absolute; top: 0; left: 0; width: 2000px; height: 20000px; z-index: 1000; background-color: #5A5A5A; border-top: 1px solid #002; }
.page-management-edit-link { position: absolute; text-align: center; z-index:1001; padding-top: 10px; width:100%; }

.page-management .context-not-checked-message { position: absolute; width: 100%; text-align: center; top: 140px; font-size: 10px; color: #444; }

.page-management-header { }
.page-management { text-align: left; font-family: Arial, Helvetica !important; font-size: 12px !important; position: relative; border-top: solid 2px #aaa; background-color: #ccc; padding: 8px; height: 145px; min-width: 720px; }
.page-management-footer { }

.page-management .loading-message { font-weight: bold; font-size: 17px !important; text-align: center; position: absolute; left: 0; width: 100%; top: 75px; color: #666; }

.page-management .internal-link { z-index: 2; }
.page-management .internal-link.add-content-fragment { background-image: url('../images/layout/add-widget.gif'); background-position: 4px center; background-repeat: no-repeat; font-weight: bold; padding: 0 8px 0 24px; text-decoration: none; border-right: solid 1px #667379; position: relative; z-index: 2; }
.page-management .internal-link.change-layout { background-image: url('../images/layout/change-layout.gif'); background-position: 8px center; background-repeat: no-repeat; font-weight: bold; padding: 0 4px 0 28px; text-decoration: none; position: relative; z-index: 2; }

.page-management .internal-link.selected:link,
.page-management .internal-link.selected:active,
.page-management .internal-link.selected:visited { color: #333; text-decoration: none; background-color: Transparent; }

.page-management .content-fragment-search { position: absolute; top: 5px; left: 0; width: 100%; text-align: center; z-index: 1; }
.page-management .content-fragment-search input { width: 210px; padding: 4px 40px 4px 10px; height: 16px; font-size: 11px !important; background-image: url('../images/layout/search.gif'); background-position: top left; border-width: 0; background-color: Transparent; }

.page-management .clear-content-fragment-search { background-image: url('../images/layout/clear-search.gif'); background-position: left center; background-repeat: no-repeat; padding: 0 0 0 20px; margin: -3px 0 0 10px; font-weight: bold; text-decoration: none; position: relative; }

.page-management .content-fragment-list-header { }
.page-management .content-fragment-list { height: 95px; position: absolute; top: 40px; left: 5%; width: 90%; }
.page-management .content-fragment-list-footer { clear: both; }

.page-management .content-fragment-type { background-color: #FDFEFE; background-image: url('../images/layout/content-fragment-type-background.gif'); background-position: left bottom; background-repeat: repeat-x; width: 22%; float: left; padding: 5px .54%; margin: 3px .54%; border: solid 1px #92AEBD; cursor: move; color: #666; font-weight: normal; white-space: nowrap; overflow: hidden; font-size: 11px !important; }

.page-management .internal-link.view-previous-content-fragments { background-image: url('../images/layout/left.gif'); background-position: top left; background-repeat: no-repeat; width: 11px; padding: 20px 0 0 0; height: 0px; position: absolute; left: 15px; top: 75px; overflow: hidden; }
.page-management .internal-link.view-previous-content-fragments.disabled { background-image: url('../images/layout/left-disabled.gif'); }
.page-management .internal-link.view-next-content-fragments { background-image: url('../images/layout/right.gif'); background-position: top left; background-repeat: no-repeat; width: 11px; padding: 20px 0 0 0; height: 0px; position: absolute; right: 15px; top: 75px; overflow: hidden; }
.page-management .internal-link.view-next-content-fragments.disabled { background-image: url('../images/layout/right-disabled.gif'); }

.page-management .layout-list-header { }
.page-management .layout-list { height: 95px; position: absolute; top: 40px; left: 5%; width: 90%; }
.page-management .layout-list-footer { clear: both; }

.page-management .internal-link.view-previous-layouts { background-image: url('../images/layout/left.gif'); background-position: top left; background-repeat: no-repeat; width: 11px; padding: 20px 0 0 0; height: 0px; position: absolute; left: 15px; top: 75px; overflow: hidden; }
.page-management .internal-link.view-previous-layouts.disabled { background-image: url('../images/layout/left-disabled.gif'); }
.page-management .internal-link.view-next-layouts { background-image: url('../images/layout/right.gif'); background-position: top left; background-repeat: no-repeat; width: 11px; padding: 20px 0 0 0; height: 0px; position: absolute; right: 15px; top: 75px; overflow: hidden; }
.page-management .internal-link.view-next-layouts.disabled { background-image: url('../images/layout/right-disabled.gif'); }

.page-management .layout { float: left; width: 11%; height: 95px; padding: 0; margin: 0 .25%; padding: 0 4px; overflow: hidden; text-align: center; background-color: #ccc; }
.page-management .layout img { height: 90px; max-width: 100%; border: solid 1px #999; margin: 1px; }

.page-management .layout-list .layout.selected img { border: solid 2px #0F64E3; margin: 0; }

.content-fragment-management  {  display: block;  margin: 10px 5px 5px 5px; }
.content-fragment-management.locked { }
.content-fragment-management .content-fragment-management-content { overflow: hidden; position: relative; width: 100%; }
.content-fragment-management .content-fragment-management-content .content-fragment { margin: 0 !important; }
.content-fragment-management-shade { background-image: url('../images/spacer.gif'); position: absolute; top: 0; left: 0; width: 2000px; height: 20000px; z-index: 1000; }
.content-fragment-management-header { background: Transparent url('../images/layout/content-fragment-header.gif') no-repeat left top; font-weight: bold; font-size: 12px !important; color: #333; cursor: move; font-family: Arial, Helvetica; margin: 0 18px 0 12px; padding: 0 0 0 6px; }
.content-fragment-management-header-inner { background: Transparent url('../images/layout/content-fragment-header.gif') no-repeat right top; padding: 8px 10px 8px 4px; height: 14px; overflow: hidden; margin-right: -6px; }
.content-fragment-management-fragment-name { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.content-fragment-management.locked .content-fragment-management-header { cursor: auto; color: #999; }
.content-fragment-management-header a { float: right; font-size: 12px; font-weight: normal; }
.content-fragment-management .internal-link.configure-content-fragment { width: 12px; height: 0; padding: 12px 0 0 0; overflow: hidden; margin: 0 4px; background-image: url('../images/layout/configure-content-fragment.gif'); background-position: left top; background-repeat: no-repeat; }
.content-fragment-management .menu-button.content-fragment-wrapper-format-button { width: 12px; height: 0; padding: 12px 0 0 0; overflow: hidden; margin: 0 4px; background-image: url('../images/layout/toggle-content-fragment-header.gif'); background-position: left top; background-repeat: no-repeat; }
.content-fragment-management .internal-link.delete-content-fragment { width: 12px; height: 0; padding: 12px 0 0 0; overflow: hidden; margin: 0 4px; background-image: url('../images/layout/delete-content-fragment.gif'); background-position: left top; background-repeat: no-repeat; }
.content-fragment-management .internal-link.lock-content-fragment { width: 12px; height: 0; padding: 12px 0 0 0; overflow: hidden; margin: 0 4px; background-image: url('../images/layout/unlock-content-fragment.gif'); background-position: left top; background-repeat: no-repeat; }
.content-fragment-management .internal-link.unlock-content-fragment { width: 12px; height: 0; padding: 12px 0 0 0; overflow: hidden; margin: 0 4px; background-image: url('../images/layout/lock-content-fragment.gif'); background-position: 2px top; background-repeat: no-repeat; }
.content-fragment-management.placeholder  { display: block; border: dashed 1px #333; margin: 5px; background-color: #ccc; width: auto; height: 1em; padding: 7px 4px; }

.menu.content-fragment-wrapper-format-content { background-color: #ddd; border: solid 1px #666; color: #333; padding: 0; margin: 0; font-size: 10px; }
.menu.content-fragment-wrapper-format-content .menu-item { padding: 5px; cursor: pointer; }
.menu.content-fragment-wrapper-format-content .menu-item.selected { background-color: #bbb; }
.menu.content-fragment-wrapper-format-content .menu-item .active { background-color: #333; color: #eee; display: block; padding: 5px; margin: -5px; }

.layout-content  { width: 100%; }

.layout-content .layout-region-inner { min-height: 1px; }
.layout-content .layout-region.empty { height: 1px; overflow: hidden; line-height: 0; }

.layout.active .layout-content .layout-region.empty { height: auto; line-height: inherit; }
.layout.active .layout-content .layout-region-inner { min-height: 40px; }

.layout-content.content .layout-region.content { width: 100%; float: left; }

.layout-content.content-left-sidebar-right .layout-region.content { overflow: hidden; }
.layout-content.content-left-sidebar-right .layout-region.right-sidebar { width: 270px; float: right; }

.layout-content.sidebar-left-content-right .layout-region.left-sidebar { width: 270px; float: left; }
.layout-content.sidebar-left-content-right .layout-region.content { overflow: hidden; }

.layout-content.sidebar-left-content-center-sidebar-right .layout-region.left-sidebar { width: 270px; float: left; }
.layout-content.sidebar-left-content-center-sidebar-right .layout-region.content { overflow: hidden; }
.layout-content.sidebar-left-content-center-sidebar-right .layout-region.right-sidebar { width: 270px; float: right; }

.layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.content { overflow: hidden; }
.layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-left { width: 270px; float: right; }
.layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-right { width: 270px; float: right; }
.layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.right-sidebar { width: 540px; float: right; clear: right; }

.layout-content.header-top-content-left-sidebar-right .layout-region.header { width: 100%; }
.layout-content.header-top-content-left-sidebar-right .layout-region.content { overflow: hidden; width: auto; }
.layout-content.header-top-content-left-sidebar-right .layout-region.right-sidebar { width: 270px; float: right; clear: both; }

.layout-content.header-top-sidebar-left-content-right .layout-region.header { width: 100%; }
.layout-content.header-top-sidebar-left-content-right .layout-region.left-sidebar { width: 270px; float: left; clear: both; }
.layout-content.header-top-sidebar-left-content-right .layout-region.content { overflow: hidden; }

.layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.header { width: 100%; }
.layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.left-sidebar { width: 270px; float: left; clear: both; }
.layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.content { overflow: hidden; }
.layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.right-sidebar { width: 270px; float: right; }

.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.header { width: 100%; }
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.content { overflow: hidden; }
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-left { width: 270px; float: right; }
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-right { width: 270px; float: right; clear: both; }
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.right-sidebar { width: 540px; float: right; clear: right; }

.layout-content.split-content .layout-region.content { width: 49.99%; float: left; }
.layout-content.split-content .layout-region.right-sidebar { width: 49.99%; float: right; }

.layout-content.header-top-split-content .layout-region.header { width: 100%; }
.layout-content.header-top-split-content .layout-region.content { width: 49.99%; float: left; }
.layout-content.header-top-split-content .layout-region.right-sidebar { width: 49.9%; float: right; clear: both; }
.layout-content.header-top-split-content .layout-region.footer { width: 100%; clear: both; }

.layout-content.header-top-content-left-sidebar-right-footer .layout-region.header { width: 100%; }
.layout-content.header-top-content-left-sidebar-right-footer .layout-region.content { overflow: hidden; width: auto; }
.layout-content.header-top-content-left-sidebar-right-footer .layout-region.right-sidebar { width: 270px; float: right; clear: both; }
.layout-content.header-top-content-left-sidebar-right-footer .layout-region.footer { width: 100%; clear: both; }

.layout-content.header-top-sidebar-left-content-right-footer .layout-region.header { width: 100%; }
.layout-content.header-top-sidebar-left-content-right-footer .layout-region.left-sidebar { width: 270px; float: left; clear: both; }
.layout-content.header-top-sidebar-left-content-right-footer .layout-region.content { overflow: hidden; }
.layout-content.header-top-sidebar-left-content-right-footer .layout-region.footer { width: 100%; clear: both; }

.layout-content.header-top-sidebar-left-content-center-sidebar-right-footer .layout-region.header { width: 100%; }
.layout-content.header-top-sidebar-left-content-center-sidebar-right-footer .layout-region.left-sidebar { width: 270px; float: left; clear: both; }
.layout-content.header-top-sidebar-left-content-center-sidebar-right-footer .layout-region.content { overflow: hidden; }
.layout-content.header-top-sidebar-left-content-center-sidebar-right-footer .layout-region.right-sidebar { width: 270px; float: right; }
.layout-content.header-top-sidebar-left-content-center-sidebar-right-footer .layout-region.footer { width: 100%; clear: both; }

.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom-footer .layout-region.header { width: 100%; }
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom-footer .layout-region.content { overflow: hidden; }
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom-footer .layout-region.split-sidebar-left { width: 270px; float: right; }
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom-footer .layout-region.split-sidebar-right { width: 270px; float: right; clear: both; }
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom-footer .layout-region.right-sidebar { width: 540px; float: right; clear: right; }
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom-footer .layout-region.footer { width: 100%; clear: both; }

.layout-content.header-top-split-content-footer .layout-region.header { width: 100%; }
.layout-content.header-top-split-content-footer .layout-region.content { width: 49.99%; float: left; }
.layout-content.header-top-split-content-footer .layout-region.right-sidebar { width: 49.9%; float: right; clear: both; }
.layout-content.header-top-split-content-footer .layout-region.footer { width: 100%; clear: both; }

.layout.active .layout-region.header { padding-top: 10px; }
.layout-content .layout-region .layout-region-inner { width: 100%; overflow: hidden; }
.active .layout-content .layout-region .layout-region-inner { width: auto; overflow: visible; }

.page-tabs.active { background: #ccc url('../images/layout/page-tabs-background.gif') repeat-x left bottom; }
.tab.placeholder { border-color: #333; background-color: #999; border-style: dashed; width: 40px; height: 1.25em; padding: 5px; }
.tab .internal-link.edit-tab  { display: inline-table; display: -moz-inline-box; display: inline-block; width: 9px; height: 0; padding: 9px 0 0 0; overflow: hidden; margin: 2px 2px 2px 6px; position: relative; top: 3px; background-image: url('../images/layout/tab-icons.gif'); background-position: left top; background-repeat: no-repeat; }
.tab .internal-link.edit-tab:hover { background-position: left -9px; }
.tab .internal-link.delete-tab  { display: inline-table; display: -moz-inline-box; display: inline-block; width: 9px; height: 0; padding: 9px 0 0 0; overflow: hidden; margin: 2px 2px 2px 4px; position: relative; top: 3px; background-image: url('../images/layout/tab-icons.gif'); background-position: left -18px; background-repeat: no-repeat; }
.tab .internal-link.delete-tab:hover { background-position: left -27px; }

.modal-mask { opacity: .4; filter: alpha(opacity=40); background-color: #333; }
.modal { background-color: #fff; border: solid 6px #333; }
.modal-title { border-bottom: solid 1px #333; padding: 8px 0 2px 0; font-size: 150%; margin: 0 8px; font-weight: bold; color: #333; cursor: move; min-height: 24px; }
.modal-content { background-color: #fff; }
.modal-footer { width: 100%; height: 12px; }
.modal-close { width: 16px; height: 15px; background-image: url(../images/common/close.gif); background-repeat: no-repeat; overflow: hidden; cursor: pointer; position: absolute; right: 8px; top: 8px; margin: 0; }
.modal-resize { width: 12px; height: 12px; background-image: url(../images/common/resize.gif); background-repeat: no-repeat; overflow: hidden; position: absolute; right: 6px; bottom: 6px; cursor: se-resize; }

/* global core service-support */


/* $Liked Content
/*******************************/
.content-fragment.liked-content .content-item { border-bottom: dotted 1px #9AA9B0; }
.content-fragment.liked-content .abbreviated-post { position: relative; padding: 8px 0 8px 84px; min-height: 78px; margin: 0; }
.content-fragment.liked-content .post-name { border-width: 0; margin: 0; padding: 0; font-size: 13px; }
.content-fragment.liked-content .post-thumbnail { position: absolute; left: 0; top: 8px; }
.content-fragment.liked-content .post-date, .content-fragment.liked-content .post-application, .content-fragment.liked-content .post-application a { color: #9AA9B0; }
.content-fragment.liked-content .post-participants { float: right; }
.content-fragment.liked-content .post-participants .content-item { float: left; border-width: 0; padding: 0; margin: 0; }
.content-fragment.liked-content .post-participants .content-list-footer { clear: left; }
.content-fragment.liked-content .content-item.load-more { border-bottom-width: 0; text-align: center; padding: 8px 0; }

/* $Who Liked
/*******************************/
.who-likes { cursor: pointer; }
.modal-content .who-likes-list { height: 100%; padding: 0px 0px 0px 6px; margin: 0 0 6px 0; }
.modal-content .who-likes-list ul { height: 80%; overflow: auto; }
.modal-content .who-likes-list .show-more { display: block; margin-top: 6px; }
.modal-content .who-likes-list .content-list .content-item { border-bottom: 0px; position: relative; min-height: 34px; padding-left: 40px; line-height: 34px; }
.modal-content .who-likes-list .content-list .content-item .full-post { position: static; }
.modal-content .who-likes-list .content-list .content-item .avatar { position: absolute; top: 3px; left: 0px; }

/* $User Mention List
/*******************************/
.content-fragment.user-mention-list .abbreviated-post { position: relative; padding-left: 84px; min-height: 78px; }
.content-fragment.user-mention-list .abbreviated-post .post-summary { margin: 8px 0; }
.content-fragment.user-mention-list .post-thumbnail { position: absolute; left: 0; top: 0; }
.content-fragment.user-mention-list .content-item.load-more { border-bottom-width: 0; text-align: center; padding: 8px 0; }

.content-fragment.user-mention-list .view-simple .abbreviated-post { position: relative; padding-left: 0; min-height: 0; }
.content-fragment.user-mention-list .view-simple .abbreviated-post .post-name { font-size: 12px; margin: 0 0 3px; }


/* $Group Mention List
/*******************************/
.content-fragment.group-mention-list .abbreviated-post { position: relative; padding-left: 84px; min-height: 78px; }
.content-fragment.group-mention-list .abbreviated-post .post-summary { margin: 8px 0; }
.content-fragment.group-mention-list .post-thumbnail { position: absolute; left: 0; top: 0; }
.content-fragment.group-mention-list .content-item.load-more { border-bottom-width: 0; text-align: center; padding: 8px 0; }

.content-fragment.group-mention-list .view-simple .abbreviated-post { position: relative; padding-left: 0; min-height: 0; }
.content-fragment.group-mention-list .view-simple .abbreviated-post .post-name { font-size: 12px; margin: 0 0 3px; }

/* Abuse Appeal
******************************/
.content-fragment.abuse-appeal .full-post { padding: 5px 0px 10px 0px; }
.content-fragment.abuse-appeal .full-post .post-date .value { margin-left: 0px; }
.content-fragment.abuse-appeal .full-post .post-name { color: #000; }
.content-fragment.abuse-appeal .full-post-header { padding: 10px 0px 10px 0px; }
.content-fragment.abuse-appeal .full-post .post-name { padding-left: 0px; }
.content-fragment.abuse-appeal .full-post .post-name span:first-child { display: none; }
.content-fragment.abuse-appeal .field-item-description { padding: 10px 0px 10px 0px; }
.content-fragment.abuse-appeal .message a,
.content-fragment.abuse-appeal .field-list .field-item .field-item-header a { font-weight: bold; }

/* stream */
.content-fragment.activity-story-stream .activity-date-grouping { border-bottom: 0px; overflow: hidden; display: block; font-size: 9px; font-weight: bold; padding: 2px 5px 2px 5px; background-color: #F0F3F3; }
.content-fragment.activity-story-stream .activity-date-grouping.today { background-color: #b7bdbf; color: #fff; }

/* $Composer Mentions
/*******************************/
.composer-mentionable-mention-highlight { background-color: #D8DFEA; }
.composer-mentionable-selector { position: absolute; background-color: #fff; overflow: hidden; margin: 0px; padding: 0px; list-style: none; z-index: 10000; border: 1px solid #AAA; box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3); }
.composer-mentionable-selector li { border-bottom: 1px solid #D8DFEA; display: block; margin: 0px; padding: .5em; cursor: pointer; font-family: helvetica, arial, sans-serif; font-size: 1.2em; color: #444; }
.composer-mentionable-selector li:hover,
.composer-mentionable-selector:hover li.highlight:hover,
.composer-mentionable-selector li.highlight { background-color: #D8DFEA; }
.composer-mentionable-selector:hover li.highlight { background-color: #fff; }
.composer-mentionable-selector .loading { text-align: center; color: #BBB; }
.composer-mentionable-selector .loading strong { color: #333; font-weight: normal; }

/* $Composer Hashtags
/*******************************/
.composer-hashtag-highlight { background-color: #fef9c1; }
.composer-hashtag-selector { position: absolute; background-color: #fff; overflow: hidden; margin: 0px; padding: 0px; list-style: none; z-index: 10000; border: 1px solid #AAA; box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3); }
.composer-hashtag-selector li { border-bottom: 1px solid #D8DFEA; display: block; margin: 0px; padding: .5em; cursor: pointer; font-family: helvetica, arial, sans-serif; font-size: 1.2em; color: #444; }
.composer-hashtag-selector li:hover,
.composer-hashtag-selector:hover li.highlight:hover,
.composer-hashtag-selector li.highlight { background-color: #fef9c1; }
.composer-hashtag-selector:hover li.highlight { background-color: #fff; }
.composer-hashtag-selector .loading { text-align: center; color: #BBB; }
.composer-hashtag-selector .loading strong { color: #333; font-weight: normal; }

/* $Composer Url Highlights
/*******************************/
.composer-url-highlight { background-color: #dfefc7; }

/* $Web Previews
/*******************************/
.abbreviated-post.shared-link { padding: 0px; clear: both; position: relative; margin: 0px 0px 10px 0px; }
.abbreviated-post.shared-link h4 { font-weight: normal; font-size: 1em; border-bottom: 0px; margin-bottom: 0px; }
.abbreviated-post.shared-link h4 a:link,
.abbreviated-post.shared-link h4 a:visited,
.abbreviated-post.shared-link h4 a:active { font-weight: bold; }
.abbreviated-post.shared-link.abbreviated-post .post-name { margin: 0 0 .25em 0; }
.abbreviated-post.shared-link.with-image { padding-left: 100px; }
.abbreviated-post.shared-link .post-thumbnail { top: 0px; left: 0px; position: absolute; }
.abbreviated-post.shared-link .post-application a:link,
.abbreviated-post.shared-link .post-application a:visited,
.abbreviated-post.shared-link .post-application a:active{ font-weight: normal;  }
.abbreviated-post.shared-link .post-summary { margin: .25em 0 .25em 0; }
.composer-preview .abbreviated-post.shared-link { margin: 0px; }
.full-post.activity .abbreviated-post.shared-link { background-color: #F0F3F3; border: 5px solid #F0F3F3; border-radius: 0 0 0 0; margin-top: 7px; }
.full-post.activity .abbreviated-post.shared-link.with-image { padding-left: 100px; min-height: 90px; }
.full-post.activity .abbreviated-post.shared-link h4 { border-bottom: 0px; padding-left: 0px; font-size: 1.0em; margin-bottom: 0px; }
.full-post.activity .abbreviated-post.shared-link .post-name a:link,
.full-post.activity .abbreviated-post.shared-link .post-name a:visited,
.full-post.activity .abbreviated-post.shared-link .post-name a:active { font-weight: bold; }

/* $Content Moderation
/*******************************/
.ui-moderate a { display: block; float: left; height: 8px; width: 8px; overflow: hidden; padding: 5px; text-indent: -3000em; background-color: transparent; }
.ui-moderate a span { width: 8px; height: 8px; float: left; background-image: url('../../../Utility/images/moderation.png'); background-repeat: no-repeat; opacity: 0.3; background-position: 0px 2px; }
.ui-moderate a.open,
.ui-moderate a:hover { background-color: #416a7c; }
.ui-moderate a.open span,
.ui-moderate a:hover span { background-position: -10px 2px; opacity: 1.0; }
.ui-moderate a.expanded { height: 8px; width: 15px; overflow: hidden; padding: 5px; text-indent: -3000em; background-color: transparent; float: right; background-color: yellow; text-decoration: none; color: #000; border: 1px solid #777; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; background: #fff; background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7dad6)); background: -moz-linear-gradient(top,  #ffffff,  #d7dad6); background: linear-gradient(top,  #ffffff,  #d7dad6);}
.ui-moderate a.expanded span { width: 8px; height: 8px; margin: 0px 3px 0px 3px; float: left; background-image: url('../../../Utility/images/moderation.png'); background-repeat: no-repeat; background-position: -20px 1px; opacity: 1.0; }
.ui-moderate a.expanded:hover { background: #ffffff; background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1)); background: -moz-linear-gradient(top,  #ffffff,  #f1f1f1); background: linear-gradient(top,  #ffffff,  #f1f1f1); }
.ui-moderate a.expanded.open { background-color: #416a7c; -moz-border-radius: 3px 3px 0px 0px; -webkit-border-radius: 3px 3px 0px 0px; border-radius: 3px 3px 0px 0px;  background: #416a7c; border-color: #416a7c; }
.ui-moderate a.expanded.open span { background-position: -30px 1px; }
.content-moderation { padding: 5px 0px 5px 0px; border: 1px solid #416a7c; background-color: #fff; min-width: 180px; overflow: hidden; }
.content-moderation ul { padding: 0px; list-style: none; margin: 0px; }
.content-moderation li { padding: 0px; margin: 0px; list-style: none; }
.content-moderation li a { display: block; text-decoration: none; color: #000; font-size: 11px; padding: 2px 10px 2px 10px;}
.content-moderation li a:hover { display: block; background-color: #416a7c; color: #fff; }
.content-moderation .navigation-list .navigation-item { margin: 0; padding: 0; }
.message.moderation { font-size: 12px; width: 500px; border: 5px solid #416a7c; background-color: #f7f8f9; border-top: 0px; margin: 0px 10px 10px 10px; padding: 0px; background-color: #fff; -moz-border-radius: 0px 0px 10px 10px; -webkit-border-radius: 0px 0px 10px 10px; border-radius: 0px 0px 10px 10px; -moz-box-shadow: 0px 3px 4px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 3px 4px rgba(0,0,0,0.5); box-shadow: 0px 3px 4px rgba(0,0,0,0.5); }
.message.moderation strong { display: block; font-size: 1.1em; }
.message.moderation p { margin: 0px; padding: 20px; }
.content-moderation li a.evolutionModerateFlagged { cursor: default; font-style: italic; }
.content-moderation li a.evolutionModerateFlagged:hover { background-color: #fff; color: #000; }.post-moderate { float: right; padding-top: 0px; position: relative; z-index: 5; }
.post-moderate .ui-moderate a { display: none; }
.full-post:hover .post-moderate .ui-moderate a,
.full-post .post-moderate .ui-moderate a.open { display: block; position: absolute; left: -20px; top: 0px; }
.post-moderation-cell { width: 30px; padding-right: 10px; }

/* $Activity Story Support (with or without stream widget)
/*******************************/
/* activity story */
.content-list .content-item.activity-story,
.activity-story  { border-left: 1px solid transparent; border-bottom: 0px; border-top: 1px solid #E9E9E9; padding: 10px 0 10px 56px; position: relative; font-size: 11px; font-family: Helvetica,Arial,sans-serif; clear: both; min-height: 50px; }
/* related content */
.activity-story a.activity-related-content { padding-left: 8px; }
.activity-story div.activity-related-content:last-child { margin-top: 8px; }
/* common */
.activity-story a:link,
.activity-story a:visited,
.activity-story a:active { font-weight: normal; }
.activity-story a.download { display: nonemargin: 10px 0px 0px 0px; font-size: 11px; ; }
.activity-story:hover a.download { displayblockck; }
.theater-content .activity-story a.download { display: block; margin: 5px 0px 0px 0px; }
/* activity story avatar */
.activity-story .post-attachment-viewer,
.activity-story .activity-avatar { border: 1px solid #E9E9E9; float: left; margin: 5px 10px 0px 0; padding: 5px; }
.activity-story .post-attachment-viewer img,
.activity-story .activity-avatar img { display: block; }
.activity-story .post-attachment-viewer:hover,
.activity-story .activity-avatar:hover { border: 1px solid #D9D9D9; }
/* activity story post content */
.activity-story .full-post { position: relative; line-height: 1.4em; }
.activity-story a.internal-link.view-user-profile.activity-summary-user,
.activity-story .activity-title a,
.activity-story .activity-summary .user-name a { font-weight: bold; font-size: 12px; }
.activity-story .activity-summary { padding-bottom: .6em; }
.activity-story .activity-title { padding-right: .6em; }
.activity-story .post-author { float: left; margin-right: 5px; }
.activity-story .post-author .avatar { position: absolute; top: 0px; left: -56px; }
.activity-story .post-author .avatar img { border-radius: 3px 3px 3px 3px; }
.activity-story .full-post .post-content { padding: 0px; margin: 0px; font-size: 12px; position: relative; overflow: hidden; }
.activity-story .post-content .activity-description { padding-bottom: .25em; }
.activity-story .post-actions.activity { clear: both; font-size: 10px; margin-top: 9px; }
.activity-story .view-attachment { padding-left: 10px; }
/* activity story post action list */
.activity-story .navigation-list { clear: both; left: -25px; list-style: none outside none; margin: 0px; overflow: hidden; padding: 0; position: relative; line-height: 1.3em; }
* + html .activity-story .navigation-list { left: 0px; } /* ie7 override */
.activity-story .navigation-list .navigation-item { float: left; font-size: 11px; margin: 0; padding-left: 10px; }
.activity-story .navigation-list .navigation-item:before { color: #999999; content: "• "; float: left; font-size: 20px; font-weight: bold; height: 10px; line-height: 13px; width: 15px; }
.activity-story .navigation-list .navigation-item:first-child:before { content: ""; }

/* activity story comments */
.activity-story .content-list.comments { margin-top: 7px; }
.activity-story .content-list.comments .content-item.action,
.activity-story .content-list.comments .content-item.comment { background-color: #f0f3f3; border-left: 1px solid #f0f3f3; border-bottom: 1px solid #d3dadd; border-top: 1px solid #fff; padding: 5px; padding-left: 6px; /*overflow: hidden;*/ }
.activity-story .content-list.comments .content-item.action { font-size: 11px; padding: 5px 5px 5px 8px; line-height: 1.6em; }
.activity-story .content-list.comments .content-item.collapse { display: none; }
.activity-story .content-list.comments .content-item.comment p { margin: 0; font-size: 11px; line-height: 1.5em; }
.activity-story .content-list.comments .content-item.comment .post-author .user-name a { padding: 0px 0px 5px 0px; font-size: 11px; }
.activity-story .content-list.comments .content-item.comment .full-post.comment { padding: 0px 0px 0px 40px; position: relative; }
.activity-story .content-list.comments .content-item.comment .full-post.comment .avatar { position: absolute; top: 1px; left: 0px; }
.activity-story .content-list.comments .content-item.comment .full-post.comment .post-author { padding-top: 1px; }
.activity-story .content-list.comments .content-item.comment .full-post.comment .post-content { padding-top: 1px; }
.activity-story .content-list.comments .content-item.comment .post-content { margin: 0px; padding: 0px 0px 5px 0px; float: left; }
.activity-story .content-list.comments .content-item.comment .post-content a { text-decoration: none; font-size: bold; }
.activity-story .content-list.comments .content-item.comment .post-content a:hover { text-decoration:underline; }

.activity-story .content-list.comments .content-item.comment .comment-date { float: left; font-size: 10px; margin-right: 10px; clear: both; }
.activity-story .content-list.comments .content-item.comment .navigation-item { font-size: 10px; padding-top: 0px; padding-bottom: 0px; }
.activity-story .content-list.comments .comment-form .avatar { display: none; }
.activity-story .content-list.comments .comment-form.with-avatar .avatar { display: block; float: left; margin-right: 7px; min-height: 32px; }
.activity-story .content-list.comments .comment-form.with-avatar .avatar img { border-radius: 3px 3px 3px 3px; }
.activity-story .content-list.comments .comment-form .field-list { margin: 0px; }
.activity-story .content-list.comments .comment-form .field-list .field-item textarea { resize:none; font-family: inherit; font-size: 1.1em; height: 1.2em; width: 98%; border: 1px solid #CCCCCC; border-radius: 0px; outline: medium none; padding: 3px; overflow: hidden; font-size: 11px; }
.activity-story .content-list.comments .comment-form .field-list .field-item { margin: 0px; padding: 0px; }
.activity-story .content-list.comments .comment-form.with-avatar .field-list .field-item div { float: left; }
.activity-story .content-list.comments .comment-form.with-avatar .field-list .field-item textarea { width: 85%; margin: 0px; }
.activity-story .content-list.comments .content-item.activity p { margin: 5px 0px 5px 0px; line-height: 1.3em; }
.activity-story .content-list.comments .content-item.activity.highlight { border-left: 1px solid #476879; }
.activity-story .content-list.comments .content-item.highlight { border-left: 1px solid #476879; }
.activity-story .content-list.comments .content-item.comment .user-name a, .activity-story .content-list.comments .content-item.comment .user-name span { font-weight: bold; font-size: 12px; }
.activity-story .content-list.comments .navigation-list { clear: both; left: -25px; list-style: none outside none; margin: 0px; overflow: hidden; padding: 0; position: relative; line-height: 1.3em; }
* + html .activity-story .content-list.comments .navigation-list { left: 0px; } /* ie7 override */
.activity-story .content-list.comments .navigation-item { float: left; font-size: 10px; margin: 0; padding-left: 10px; }
.activity-story .content-list.comments .navigation-item:before { color: #999999; content: "• "; float: left; font-size: 20px; font-weight: bold; height: 10px; line-height: 13px; width: 15px; }
.activity-story .content-list.comments .navigation-item:first-child:before { content: ""; }
/* specifics */
.activity-story .with-likes {  }
.activity-story .without-likes { display: none; }
.activity-story .content-list.revisions { padding: 10px; }
.activity-story .content-list.revisions .content-item { border-bottom: 0px; }
.activity-story .like-indicator { background-image: url("../../../Utility/images/like.png"); background-position: 0px 0px; background-repeat: no-repeat; border: 0 none; float: left; height: 16px; margin: 0 7px 0 0; position: relative; width: 16px; }
.activity-story .like-indicator.inline { background-image: url("../../../Utility/images/like.png");	background-position: -18px 0; height: 14px; margin: 0 3px 0 0; width: 14px; top: 0px; }
.activity-story .content-list-item.user { float: left; margin: 3px 3px 3px 0px; }
.activity-story .full-post .post-attachment-viewer { padding: 9px; }
.activity-story .comment .comment-like-count { display: none; }
.activity-story .comment.with-likes .comment-like-count { display: block; }

/* theater */
.theater-mask { width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; background-color: #E5E5E5; z-index: 900; opacity: 0.8; }
.theater-container { width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 950; overflow: auto; font-family: Helvetica, Arial, sans-serif; }
.theater-content-container { margin: 15px auto 15px auto; width: 66%; min-height: 90%; background-color: #fff; padding: 15px; -moz-box-shadow: 0px 0px 3px #888; -webkit-box-shadow: 0px 0px 3px #888; box-shadow: 0px 0px 3px #888; position: relative; }
a.theater-next,
a.theater-back { display: block; width: 32px; height: 32px; background-color: #FFF; font-weight: bold; color: #444; font-size: 26px; line-height: 32px; position: absolute; top: 40%; text-decoration: none; padding: 10px; border-radius: 2px; -moz-box-shadow: 0px 0px 3px #888; -webkit-box-shadow: 0px 0px 3px #888; box-shadow: 0px 0px 3px #888; }
a.theater-next:hover,
a.theater-back:hover { -moz-box-shadow: 0px 0px 3px #444; -webkit-box-shadow: 0px 0px 3px #444; box-shadow: 0px 0px 3px #444; text-decoration: none; }
a.theater-next:active,
a.theater-next.pressed,
a.theater-back:active,
a.theater-back.pressed { -moz-box-shadow: 0px 0px 0px; -webkit-box-shadow: 0px 0px 0px; box-shadow: 0px 0px 0px; background-color: #888; color: #fff; }
.theater-back { left: 6%; }
.theater-next { right: 6%; }
a.theater-close:link,
a.theater-close:visited,
a.theater-close:active { background-color: #fff; display: block; width: 12px; height: 12px; color: #666; font-weight: bold; position: absolute; top: 10px; right: 10px; text-decoration: none; font-size: 11px; padding: 5px; text-align: center; }
a.theater-close:hover { background-color: #666; color: #fff; text-decoration: none; }

/* theater ui component */
.theater-content .post-attachment-viewer { background-color: #F6F6F6; padding: 0; text-align: center; }
.theater-content .post-attachment-viewer a.download-attachment { line-height: 400px; }
.theater-content .post-attachment-viewer > object,
.theater-content .post-attachment-viewer > span,
.theater-content .post-attachment-viewer > p,
.theater-content .post-attachment-viewer > div { display: block; margin-left: auto; margin-right: auto; }
