#set ($productsGroupId = $omnicell_v1_traininggallery.ProductGroupId)
#set($groups = $core_v2_group.List("%{ParentGroupId=$productsGroupId,PageSize=100}"))
#set($itemsPerRow = 4)
#set($groupNdx = 0)

#foreach($group in $groups)
#each
    #set($groupNdx = $groupNdx + 1)
    #set($isSelected = "")
    
    #if($media.ProductFilters.ContainsKey($group.Id))
        #set($isSelected = ' checked="checked"')
    #end
    
    #if($groupNdx % $itemsPerRow == 1)
        <tr>
    #end
            <td>
                <input type="checkbox"$isSelected value="$group.Id" name="$core_v2_widget.UniqueId('selectedProductGroups')" /> $group.Name
            </td>
    #if($groupNdx % $itemsPerRow == 0)
        </tr>
    #end
    
#beforeall
    <table class="createUserProductList">
#afterall
    #if($groupNdx % $itemsPerRow == 0)
        </tr>
    #end
    </table>
#nodata
    <p>Error! No product groups found!</p>
#end