$core_v2_page.SetContentType("text/css")

.omnicell-projecthealth .field-item .field-item-input input,
.omnicell-projecthealth .field-item .field-item-input textarea { width: 100%;}
.omnicell-projecthealth .field-item .field-item-input .submit-button { display: inline-table; display: -moz-inline-box; display: inline-block; margin: 1px; padding: 4px; border-style: solid; border-width: 1px; border-color: #999999; border-top-color: #cccccc; border-left-color: #cccccc; background-color: #eeeeee; color: #333333; font-family: Arial, Helvetica; font-size: 14px; font-weight: bold; white-space: nowrap; }
.omnicell-projecthealth .field-item .field-item-header { font-size:12px;}

.omnicell-projecthealth legend { background: #ccc; font-size: 21px; width: 97%; padding: 9px 15px; }
    .omnicell-projecthealth legend span { float: right; color: #f00; font-size: 15px; margin-top: 7px; }
    
.omnicell-projecthealth .filtercontainer .header {border-bottom: 1px solid #F3F3F2; padding-bottom: 5px;}
.omnicell-projecthealth .product-list { float:left; margin-right: 10px; width: auto; }
.omnicell-projecthealth .projecthealth-date { float:left; }
.omnicell-projecthealth .projecthealth-date input { height:15px; width:80px; }
.omnicell-projecthealth .projecthealth-date span img {margin-left: 5px !important; margin-right: 5px !important; margin-top: -6px !important; padding: 0px !important; border: 0px !important; height: 15px !important; }
.omnicell-projecthealth .projecthealth-status { float:left; margin-left: 10px; margin-right: 10px;}
.omnicell-projecthealth .projecthealth-completionstatus { float:left;}
.omnicell-projecthealth .projecthealth-completionstatus span select { width:200px;}
.omnicell-projecthealth .projecthealth-daterangeto span{float: left;margin-left: 10px;margin-right: 10px;margin-top: 25px;}
.omnicell-projecthealth .projecthealth-csn { float:left; margin-right:10px;}
.omnicell-projecthealth .projecthealth-csn span input{ width:180px;}
.omnicell-projecthealth .projecthealth-facilitycity { float:left; margin-right:10px;}
.omnicell-projecthealth .projecthealth-facilitycity span input{ width:180px;}
.omnicell-projecthealth .projecthealth-facilitystate span select { width:186px;}

.omnicell-projecthealth .projecthealth-tom { float:left; margin-right:10px;}
.omnicell-projecthealth .projecthealth-tom span input{ width:275px;}
.omnicell-projecthealth .projecthealth-dod { float:left; margin-right:10px;}
.omnicell-projecthealth .projecthealth-dod span input{ width:275px;}

.omnicell-projecthealth .resultscontainer .pager.ui-page{ text-align: left;}
.omnicell-projecthealth .resultscontainer div.title{  background: #ccc; font-size: 18px; padding: 5px; margin-bottom: 10px;}
.omnicell-projecthealth .resultscontainer div.title span{ float: right; font-size: 15px; padding-top: 3px; }
.omnicell-projecthealth .resultscontainer .resultstable{ width: 100%;}
.omnicell-projecthealth .resultscontainer td { padding-right:5px; font-size:12px;}
.omnicell-projecthealth .resultscontainer td.tablecol { padding-right:5px;}
.omnicell-projecthealth .resultscontainer td.room { width:200px;}
.omnicell-projecthealth .resultscontainer td.state { width:125px;}
.omnicell-projecthealth .resultscontainer td.city { width:125px;}
.omnicell-projecthealth .resultscontainer td.postdate { width:50px;}
.omnicell-projecthealth .resultscontainer td.product { width:125px;}
.omnicell-projecthealth .resultscontainer td.completionstatus { width:200px;}
.omnicell-projecthealth .resultscontainer td.healthstatus { width:35px;}
.omnicell-projecthealth .resultscontainer td.tablecol a.sort-button-asc {background: url("$core_v2_widget.GetFileUrl('sort_up_green_12_12.png')") no-repeat scroll left top transparent;  padding-left: 12px;}
.omnicell-projecthealth .resultscontainer td.tablecol a.sort-button-desc {background: url("$core_v2_widget.GetFileUrl('sort_down_green_12_12.png')") no-repeat scroll left top transparent;  padding-left: 12px;}

.omnicell-projecthealth .resultscontainer tr:nth-child(odd) { background-color:#fff; }
.omnicell-projecthealth .resultscontainer tr:nth-child(even) { background-color:#F3F3F2; }