<h2>Tell us more about you</h2>

## open a dynamic form xml node
#set ($formXml = '<propertyGroup id="profileDetailsData" resourceName="" resourceFile="" text="" descriptionResourceName="" descriptionResourceFile="" descriptionText="" orderNumber="1" visible="true">')
#set ($requiredDetailsFields = "")
## append each dynamic profile field to the dynamic form xml
#set ($index = 1)
#foreach ($field in $selectedProfileDetailsFields)
    	#if ($requiredProfileDetailsFields.contains($field))
			#set ($requiredDetailsFields = "${requiredDetailsFields},${field}")
		#end
		#set ($formXml = "${formXml}${core_v2_userProfileField.dynamicFormXml(${field}, '%{OrderNumber = $index}')}")
		#set ($index = $index + 1)
#end

## close dynamic form xml node
#set ($formXml = "${formXml}</propertyGroup>")

## build a querystring of current values for the dynamic form fields
#set ($data = $core_v2_page.ParseQueryString(''))
#foreach ($profileField in $user.ProfileFields)
    $data.Add($profileField.Label, $profileField.Value)
#end

## render dynamic profile fields

<input type="hidden" name="$core_v2_encoding.HtmlAttributeEncode($profileDetailsFieldsInput)" id="$core_v2_encoding.HtmlAttributeEncode($profileDetailsFieldsInput)" value="testvalue" />
<input type="hidden" name="$core_v2_encoding.HtmlAttributeEncode($selProducts)" id="$core_v2_encoding.HtmlAttributeEncode($selProducts)" value="" />

#set($renderedForm = $core_v2_dynamicForm.RenderForm($dynamicDetailsFieldsForm, $formXml, $data, "%{GroupFooterHtmlFormat='',GroupHeaderHtmlFormat='',HidePropertiesWithoutValues='false'}"))
#set($renderedForm = $core_v2_utility.Replace("$renderedForm", 'size=\"..\"', "size=\"25\""))

$renderedForm


<br />
<br />
		<h2>Choose your products</h2>
		<p style="width:500px;">Personalize your My Omnicell experience by selecting your products of interest:</p><br/>

#set($productGroup = $omnicell_v1_traininggallery.ProductGroupId)

<span class="field-item-validation products" style="display: none;"></span>
#set ($groups = $core_v2_group.List("%{ParentGroupId=$productGroup,PageSize=100, IncludeAllSubGroups=1}"))

#set($groupCount = 0)

#foreach($group in $groups)
#beforeall
<table class="createUserProductList">
#each
	#set($groupCount = $groupCount + 1)
	#if ($groupCount % 2 == 1)
		<tr>
	#end

	<td>
		<input type="checkbox" value="$group.Id" name="$core_v2_encoding.HtmlAttributeEncode($productsInput)" /> $group.Name
	</td>

	#if ($groupCount % 2 == 0)
		</tr>
	#end
#afterall
	#if ($groupCount % 2 == 1)
		</tr>
	#end
	</table>
#nodata
	<p>Error! No product groups found!</p>	
#end

<br/>
<span class="processing" style="visibility: hidden;"></span>
<a href="#" class="internal-link create-account-back submit-button" >
	<span></span>$core_v2_language.GetResource('CreateNewAccount_CreateAccount_Back')
</a>
&nbsp;&nbsp
<a href="#" class="internal-link create-account-reg submit-button" >
    <span></span>$core_v2_language.GetResource('CreateNewAccount_CreateAccount')
</a>

<div class="page-footer"></div>
