.subscription-admin-nav .nav-container {}
.subscription-admin-nav .nav-container .menu-container { }
.subscription-admin-nav .nav-container .menu-container ul {list-style: none;   padding-bottom: 20px; padding-left: 100px; padding-top: 20px;}
.subscription-admin-nav .nav-container .menu-container ul li {float:left; padding-left:32px}
.subscription-admin-nav .nav-container .menu-container ul a {display:block;}
