<div class="content-list-header"></div>

<ul class="content-list simple">
#foreach($conversation in $conversations)
	<li class="content-item" data-conversation-id="${conversation.Id}">
		<div class="abbreviated-post-header"></div>
		<div class="abbreviated-post">
			<h4 class="post-name">
				<a href='$core_v2_urls.Conversation($conversation.Id)' class='internal-link view-post #if($conversation.HasRead) read #else unread #end '>$conversation.FirstMessage.Subject</a>
			</h4>
			<div class="post-author">
				<span class="avatar">
					#if ($conversation.LastMessage.Author.ProfileUrl)
						<a href="$core_v2_encoding.HtmlAttributeEncode($conversation.LastMessage.Author.ProfileUrl)">
							$core_v2_ui.GetResizedImageHtml($conversation.LastMessage.Author.AvatarUrl, 32, 32, "%{border='0', alt=$conversation.LastMessage.Author.DisplayName}")
						</a>
					#else
						$core_v2_ui.GetResizedImageHtml($conversation.LastMessage.Author.AvatarUrl, 32, 32, "%{border='0', alt=$conversation.LastMessage.Author.DisplayName}")
					#end
				</span>
				<span class="user-name">
					#if ($conversation.LastMessage.Author.ProfileUrl)
						<a href="$core_v2_encoding.HtmlAttributeEncode($conversation.LastMessage.Author.ProfileUrl)" class="internal-link view-user-profile">
							<span></span>$conversation.LastMessage.Author.DisplayName
						</a>
					#else
						<span></span>$conversation.LastMessage.Author.DisplayName
					#end
				</span>
			</div>
			<div class="post-actions">
				<div class="navigation-list-header"></div>
				<ul class="navigation-list">
					<li class="navigation-item">
						<a href='javascript:void(0);' class='internal-link delete-conversation' title='$core_v2_language.GetResource("ViewConversations_DeleteConversation")'><span></span></a>
					</li>
				</ul>
				<div class="navigation-list-footer"></div>
			</div>
			<div class="post-date">
				$core_v2_language.FormatDateAndTime($conversation.LastMessage.CreatedDate)
			</div>
		</div>
		<div class="abbreviated-post-footer"></div>
	</li>
#end
</ul>
<div class="content-list-footer"></div>
