##set($showAll = false)

###if($core_v2_page.GetQueryStringValue('showAll') != "")
##    #set($showAll = $core_v2_utility.ParseBool($core_v2_page.GetQueryStringValue('showAll')))
###end

#set ($productsGroupId = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('selectedGroupsForProductList','')).Value('Group'))
#set ($includeSubGroups = $core_v2_widget.GetBoolValue('includeSubGroups',true))
##set ($productsGroupId = $core_v2_language.GetResource('Products_Page_Name'))
##set ($productsGroup = $core_v2_group.Get("%{Id = $productsGroupId}"))

##set($groups = $omnicell_authentication.ListProductGroups($productsGroupId))

#set($sortBy = 'Name')
#set($sortOrder = 'Ascending')
#set($groups = $core_v2_group.List("%{ParentGroupId=$productsGroupId,PageSize=9999,IncludeAllSubGroups=$includeSubGroups,SortBy='$sortBy',SortOrder='$sortOrder'}"))

##if($includeSubGroups)
##    #set($groups = $core_v2_group.List("%{ParentGroupId=$productsGroupId,UserId=$core_v2_user.Current.Id,PageSize=$pageSize,PageIndex=$pageIndex,SortBy='$sortBy',SortOrder='$sortOrder',GroupTypes='all'}"))
##else
##    #set($groups = $core_v2_group.List("%{ParentGroupId=$productsGroupId,UserId=$core_v2_user.Current.Id,PageSize=100,PageIndex=$pageIndex,SortBy='$sortBy',SortOrder='$sortOrder'}"))
##    #set($groups = $core_v2_group.List("%{ParentGroupId=$productsGroupId,UserId=$core_v2_user.Current.Id,PageSize=$pageSize,PageIndex=$pageIndex,SortBy='$sortBy',SortOrder='$sortOrder'}"))
##end

#set($lastPageIndex = $core_v2_ui.GetLastPageIndex($groups.pageSize, $groups.TotalCount))


##if($queryType=='subGroups')
##    #set($groups = $core_v2_group.List("%{ParentGroupId=$productsGroupId,UserId=$core_v2_user.Current.Id,PageSize=$pageSize,PageIndex=$pageIndex,SortBy='$sortBy',SortOrder='$sortOrder',GroupTypes='all'}"))
##elseif($queryType=='currentUser')
##	#if(!$core_v2_user.Current)
##		$core_v2_widget.Hide()
##	#else
##		#set($groups = $core_v2_group.List("%{ParentGroupId=$productsGroupId,UserId=$core_v2_user.Current.Id,PageSize=$pageSize,PageIndex=$pageIndex,SortBy='$sortBy',SortOrder='$sortOrder'}"))
##         #end
###else
##	#set ($includePendingMemberships = false)
##	#set($groups = $core_v2_group.List("%{ParentGroupId=$productsGroupId,UserId=$core_v2_user.Accessing.Id,PageSize=$pageSize,PageIndex=$pageIndex,SortBy='$sortBy',SortOrder='$sortOrder',IncludePendingMemberships=$includePendingMemberships}"))
##end


##<P>Group Pageindex: $groups.PageIndex</p>
##<P>Group TotalCount : $groups.TotalCount </p>
##<P>Group PageSize: $groups.PageSize</p>
##<P>Pageindex: $pageIndex</p>
##<P>lastPageIndex : $lastPageIndex </p>
##<P>PageSize: $pageSize</p>

	<div class="custom-bottom-left">
		<div class="content-fragment thread-list">
			<div class="content-fragment-content">
				<div class="filter">
					<div class="view-type">
						<span class="filter-option selected">
							<span style="font-weight:normal;">My Products</span>
						</span>
					</div>
					<div class="product-add-edit">
						##<a href="$productsGroup.Url">+add/edit</a>
                        <a href="/customer_portal/products/default.aspx">+add/edit</a>
                        
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
                #if($groups.PageIndex > 0)
                  #set($newPageIndex = $groups.PageIndex)
		<div class="scroll-up">
                      <a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "$core_v2_ui.PageIndexQueryStringKey=$newPageIndex"))"><img src="http://dev.myomnicell.com/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/scrollup.png" width="249" height="14" /></a>
		</div>
                #end
<div style="color:#999;background-color:#F2F2F1;font-family:Arial, Helvetica; font-size:11px;padding:10px;border-left: 1px solid hsl(93, 42%, 84%);border-right: 1px solid hsl(93, 42%, 84%);">
Please select a product of interest to view filtered results
</div>
		<div class="product-list">
#foreach($group in $groups)
#beforeall
##<p>$user.Name ($user.Id):$user</p>
  
    <ul id="mycarousel" class="jcarousel jcarousel-skin-tango product-list omnicarousel">

#each
##if ($group.id != 28 &&  $group.id != 29)
    #set($groupUser = false)
    #set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId = $user.Id}"))
##<p>$group.Name ($group.Id):$groupUser.MembershipType</p>
    ## Set a counter to ensure that the first listed product is selected when there isn't a query string value
    #if ($groupUser != false && ($groupUser.MembershipType == "Member" || $groupUser.MembershipType == "Owner" || $groupUser.MembershipType == "Manager"))
        ##check to see if $groupId equals zero
         #if($groupId == 0)
            #set($groupId = $group.Id)
         #end
         #set($isSelected = " ")
         #if ($group.id == $groupId)
			#set($isSelected = " selected")
         #end
##<p>$group.Name ($group.Id):$groupUser.MembershipType</p>
##<p>groupUser.MembershipType:$groupUser.MembershipType</p>
			#if($viewType == 'solo')
				<li class="product$isSelected"><a href="$core_v2_encoding.HtmlAttributeEncode($group.Url)">$core_v2_ui.GetResizedImageHtml($group.AvatarUrl, 44, 44, "%{alt=$group.Name,border='0',align='middle'}")<span class="productName">$core_v2_language.Truncate($group.Name, 25, '...')</span></a></li>
			#else
				<li class="product$isSelected"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "Group=$!group.Id"))">$core_v2_ui.GetResizedImageHtml($group.AvatarUrl, 44, 44, "%{alt=$group.Name,border='0',align='middle'}")<span class="productName">$core_v2_language.Truncate($group.Name, 25, '...')</span></a></li>
			#end 
	#end
##end
#afterall

    </ul>
 
#nodata

	<P>No products found.</p>

#end
		</div>
                #set($newPageIndex = $groups.PageIndex+ 2)
                #if($newPageIndex <= $lastPageIndex )
		<div class="scroll-down">
                      <a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "$core_v2_ui.PageIndexQueryStringKey=$newPageIndex"))"><img src="http://dev.myomnicell.com/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/scrolldown.png" width="249" height="14" /></a>
		</div>
                #end
                #if($groups.TotalCount > $groups.PageSize)
          		<div class="all-products">
          			<a href="$productsGroup.Url">View All Products</a>
          		</div>
                #end
	</div>


##$core_v2_ui.Pager($groups.PageIndex, $groups.PageSize, $groups.TotalCount)
			