.omnicell-factsheet-view-implementation-room .field-item .field-item-input input,
.omnicell-factsheet-view-implementation-room .field-item .field-item-input select,
.omnicell-factsheet-view-implementation-room .field-item .field-item-input textarea { width: 100%;}
.omnicell-factsheet-view-implementation-room .field-item .field-item-input .submit-button { margin: 1px !important; padding: 4px !important; border: solid 1px #999; border-color: #ccc #999 #999 #ccc; background: #eee !important; color: #333; font-size: 14px; white-space: nowrap; display: inline-table; display: -moz-inline-box; display: inline-block; height: auto; line-height: normal !important; }
    .omnicell-factsheet-view-implementation-room .field-item .field-item-input .submit-button.disabled { color: #aaa; }

.omnicell-factsheet-view-implementation-room .title-header { background: #ccc; font-size: 21px; width: 97%; padding: 9px 15px; }
    .omnicell-factsheet-view-implementation-room .title-header span { float: right; color: #f00; font-size: 15px; margin-top: 7px; }
        .omnicell-factsheet-view-implementation-room .title-header span a { color: #00e; font-size: 12px; text-decoration: underline; }
    
.omnicell-factsheet-view-implementation-room .field-item-header { font-size: 14px; }
.omnicell-factsheet-view-implementation-room .header { font-size: 18px; font-weight: bold; }
.omnicell-factsheet-view-implementation-room .sub-header { font-size: 16px; clear: both; font-weight: bold; }

.omnicell-factsheet-view-implementation-room .left { float: left; clear: both; }
.omnicell-factsheet-view-implementation-room .right { float: right; }
.omnicell-factsheet-view-implementation-room .center { clear: none; float: left; margin-left: 2%; }
    .omnicell-factsheet-view-implementation-room .center.right { float: left; }

.omnicell-factsheet-view-implementation-room .two { width: 49%; }
.omnicell-factsheet-view-implementation-room .three { width: 30%; }
.omnicell-factsheet-view-implementation-room .four { width: 23.5%; }
.omnicell-factsheet-view-implementation-room .small { width: 15%; }

.omnicell-factsheet-view-implementation-room .facility-name { width: 49%; }
.omnicell-factsheet-view-implementation-room .facility-csn { width: 49%; }
.omnicell-factsheet-view-implementation-room .facility-time-zone { width: auto; float:left; width: 100%; }

.omnicell-factsheet-view-implementation-room .notes,
.omnicell-factsheet-view-implementation-room .display-notes { clear:both; }
    .omnicell-factsheet-view-implementation-room .notes textarea { height: 90px; }
    
.layout-content.content .omnicell-factsheet-view-implementation-room .facility-name { width: 38%; }
.layout-content.content .omnicell-factsheet-view-implementation-room .facility-csn { width: 15%; }
.layout-content.content .omnicell-factsheet-view-implementation-room .facility-time-zone { width: auto; float: right; }

.omnicell-factsheet-view-implementation-room .field-list.edit-form { height: 1px; }

.omnicell-factsheet-view-implementation-room .display-form .field-item {min-height: 45px;}
.omnicell-factsheet-view-implementation-room .display-form .field-item-header { margin-bottom: 8px; }
.omnicell-factsheet-view-implementation-room .display-form .spacer { clear:both; padding:0; border-bottom: solid 1px #ccc; min-height:0; }
    .omnicell-factsheet-view-implementation-room .display-form .spacer.top { }
    .omnicell-factsheet-view-implementation-room .display-form .spacer.bottom { margin-bottom: 8px; padding-top: 8px; }
