#foreach($group in $groups)
#beforeall
	<div class="content-list-header"></div>
	<ul class="content-list">
#each
    <li class="content-item simple">
		<span class="group-avatar"><a href="$core_v2_encoding.HtmlAttributeEncode($group.Url)">$core_v2_ui.GetResizedImageHtml($group.AvatarUrl, 30, 30, "%{alt=$group.Name,border='0'}")</a></span>
		<span class="group-name"><a href="$core_v2_encoding.HtmlAttributeEncode($group.Url)" class="internal-link view-group"><span></span>$core_v2_language.Truncate($group.Name, 25, '...')</a></span>

		#set($groupUser = false)
		#set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId = $core_v2_user.Accessing.Id}"))
		#if ($groupUser != false && $groupUser.IsDirectMember)
			<span class="group-membership-link"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "RemoveGroup=$group.Id"))" class="internal-link view-group" style="font-weight:normal;">Remove Product Group</a></span>
		#else
			<span class="group-membership-link"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "AddGroup=$group.Id"))" class="internal-link view-group">Add Product Group</a></span>
		#end

	</li>
#afterall
	</ul>
	<div class="content-list-footer"></div>
#nodata
	$core_v2_widget.Hide()
#end