## custom processing after successful registration
##EXECUTNG post_registration_process <br/>
##nextstep2  = $nextstep  <br/>
##selProductsQS2 = $selProductsQS <br/>


$core_v2_widget.ExecuteFile('set_user.vm')
#set ($userString = "user")
#set ($redirectUrl = $core_v2_urls.Home())
#set ($groupMemberShipType = 'PendingMember')
#set ($message = 'Unknown')

 
#if ($nextstep == 'customerverified')
    #if ($customerRole == false)
        #set ($roleString = "Customer")
		$omnicell_v1_traininguser.AddMembertoRole($user.Id, $roleString)
    #end
   
#elseif ($nextstep == 'employeedetails')    
    #if ($employeeRole == false)
        #set ($roleString = "Employee")
		$omnicell_v1_traininguser.AddMembertoRole($user.Id, $roleString)
    #end

#elseif ($nextstep == 'employee')    
    #if ($employeeRole == false)
        #set ($roleString = "Employee Inactive")
        $omnicell_v1_traininguser.AddMembertoRole($user.Id, $roleString)
    #end

    groupUser = $groupUser  portalGroupId = $portalGroupId, userId = $user.Id, GroupMembershipType = $groupMemberShipType, Message = $message <br/>
    #set($groupUser = $core_v2_groupUserMember.Create($core_v2_utility.ParseInt($portalGroupId), $user.Id, "%{GroupMembershipType = $groupMemberShipType, Message = $message }"))
    #set($redirectUrl = $core_v2_urls.Custom($core_v2_language.GetResource('JoinFailedDomainCheckRedirectPageName')))
   
#elseif ($nextstep == 'customer')
    #set ($message = $core_v2_language.GetResource('CSNInactiveVerbiage'))

    #if ($customerUnverifiedRole == false)
        ## add to role
        #set ($roleString = "Customer Unverified")
        $omnicell_v1_traininguser.AddMembertoRole($user.Id, $roleString)   
    #end

    groupUser = $groupUser  portalGroupId = $portalGroupId, userId = $user.Id, GroupMembershipType = $groupMemberShipType, Message = $message <br/>

    #set($groupUser = $core_v2_groupUserMember.Create($core_v2_utility.ParseInt($portalGroupId), $user.Id, "%{GroupMembershipType = $groupMemberShipType, Message = $message }"))

    #set($redirectUrl = $core_v2_urls.Custom($core_v2_language.GetResource('UnverifiedCustomerPageName')))

#end

## allow for overrides
#set ($override = "")
#set ($override = $core_v2_page.GetQueryStringValue('override'))
#if ($!override != "")
	#set ($loginOverrideRoleString = "Login Override")
	$omnicell_v1_traininguser.AddMembertoRole($user.Id, $loginOverrideRoleString)
#end

## add user to the product groups to which they are interested
#set ($productGroups = $core_v2_utility.Split(",",$selProductsQS))
#foreach ($prodGroup in $productGroups)
    #set($groupUser = $core_v2_groupUserMember.Create($core_v2_utility.ParseInt($prodGroup), $user.Id, "%{GroupMembershipType = 'Member' }"))
#end


## redirect
$core_v2_page.Redirect($redirectUrl)
##redirectUrl = $redirectUrl <br/>
##profileFieldsQueryString = $profileFieldsQueryString <br/>
##profileDetailsFieldsQueryString = $profileDetailsFieldsQueryString <br/>
##END OF POST PROCESS <br/>
