    #if($sortOrder == 'Ascending')
	#set($alternateSortOrder = 'Descending')
#else
	#set($alternateSortOrder = 'Ascending')
#end


<script type="text/javascript">
	var filterAllGroupsCheckbox = jQuery("#$core_v2_widget.UniqueId('filterAllGroupsCheckbox')");
##	var productSelectionButton = jQuery("#$core_v2_widget.UniqueId('productSelectionButton')");
##	var productGroupsMenuContainer = jQuery("#$core_v2_widget.UniqueId('productGroupMenuContainer')");
##	var productGroupsMenuContainerString = "$core_v2_widget.UniqueId('productGroupMenuContainer')";
##	var productGroupsMenuContainer = jQuery('#' + productGroupsMenuContainerString );
##	var productGroups = new Array();
	
##	#foreach ($group in $groups)
##		#set($groupUser = false)
##		#set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId=$core_v2_user.Accessing.Id}"))
##		#if ($groupUser != false && $groupUser.IsDirectMember)
##			#set($selected = "")
##			#if($filterGroupId  == $group.Id)
##				#set($selectedProductGroup = $group.Name)
##			#end
##
##			var menuItem$group.Id = 
##			{
##				id:'$group.Id',
##				text:'$group.Name',
##				url:'$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($pageUrl, "FilterGroupId=$group.Id"))',
##				iconurl:'$group.AvatarUrl'
##			};		
##			productGroups.push(menuItem$group.Id);
##	
##		#end		
##
##	#end
	
   jQuery(function(){
	
	jQuery("#$core_v2_widget.UniqueId('filterAllGroupsCheckbox')").change(function()
	{
//		if ($(this).attr("checked") == "checked")
//		if ($(this).attr("checked"))
		if($(this).is(':checked')) 
		{
			//$(this).attr('checked', 'checked');
			var url = "$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'FilterAllGroups=true,GroupId='))";
            url = url.split('?');
			window.location = url[0];
		}
		else
		{
			//$(this).attr('checked',''); 
			var url = "$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'FilterAllGroups=false'))";
			window.location = url;
		}

		return false;
	});

//   jQuery(document).ready(function(){  
//	productGroupsMenuContainer.glowPopUpMenu({
//		groupCssClass: 'menu product-list',
//		itemCssClass: 'menu-item product',
//		itemSelectedCssClass: 'menu-item product selected',
//		groupCssClass: 'menu moderation-content menu__moderation-content',
//		itemCssClass: 'menu-item menu__moderation-content__menu-item',
//		itemSelectedCssClass: 'menu-item hover menu__moderation-content__menu-item__hover',
//		itemExpandedCssClass: 'menu-item expanded',
//		position: 'down',
//		zIndex: 100,
//		iconWidth: 30,
//		iconHeight: 30,
//		menuItems: []
//	});


	
});
</script>


#if ($filterAllGroups == "true")
#set($checked = "")
#set($checked = "checked")
#end

<div class="filter detail">

##	#set ($selectedProductGroup = "")
##	#set ($selectedDocument = "")

	<div style="width:100%;margin-left:10px;">
		
		<div style="float:left;">Filter by:</div>
        
        <div style="width:150px;float:left;margin-left:10px;">
			$core_v2_widget.ExecuteFile('product-list.vm')
		</div>

	    <div style="width:150px;float:left;margin-left:10px;">
		    $core_v2_widget.ExecuteFile('document-type-list.vm')
	    </div>
  
              <div style="float:left;width:auto;">
      &emsp;Show Just My Products <input type="checkbox" $checked id="$core_v2_widget.UniqueId('filterAllGroupsCheckbox')" /> 
              </div>
  
                
##            <div style="float:left;width:auto;">
##                <input type="checkbox" $checked id="$core_v2_widget.UniqueId('filterAllGroupsCheckbox')" /> View By My Products (Uncheck to see all documents)
##            </div>
            
        </div>
        
##	<div style="clear:both;margin:10px;">

##		#if($selectedProductGroup != "")
##			<p><strong>Product</strong> : $selectedProductGroup</p>
##		#end

##		#if($selectedDocument != "")
##			<p><strong>Type:</strong> : $selectedDocument</p>
##		#end
## 	</div>

##	<div class="view-type">
##		<span class="filter-option#if($viewType=='Thumbnail') selected#end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'GalleryViewType=Thumbnail'))" class="internal-link view-thumbnail-list">$core_v2_language.GetResource('MediaGalleryViewType_Thumbnail_Link')</a></span>
##		<span class="filter-option#if($viewType=='List') selected#end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'GalleryViewType=List'))" class="internal-link view-detail-list">$core_v2_language.GetResource('MediaGalleryViewType_List_Link')</a></span>
##	</div>

    <div class="clear"></div>
</div>
<div>Sort by:</div>
#foreach($media in $documentMedias)
#beforeall
	<div class="table-list-header"></div>
	<table class="table-list">
		<thead>
			<tr class="table-header">
				<th class="table-header-column post-name" style="width:269px;"><a class="internal-link#if($sortBy=='Subject' && $sortOrder=='Ascending') sort-ascending#else sort-descending#end#if($sortBy=='Subject') selected#end" href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "GalleryPostSort=Subject&PageIndex=1&SortOrder=$alternateSortOrder"))"><span></span>$core_v2_language.GetResource('MediaGalleries_FileList_Title')</a></span></th>
				<th class="table-header-column post-type" style="width:145px;"><a name="post-type" class="internal-link#if($sortBy=='FileType' && $sortOrder=='Ascending') sort-ascending#else sort-descending#end#if($sortBy=='FileType') selected#end" href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "GalleryPostSort=FileType&PageIndex=1&SortOrder=$alternateSortOrder"))"><span></span>$core_v2_language.GetResource('MediaGalleries_FileList_Type')</a></th>
				<th class="table-header-column post-group" style="width:200px;color:#77BF40;font-weight:normal;"><span></span>Product</a></span></th>
##                <th class="table-header-column post-group" style="width:200px;"><a class="internal-link#if($sortBy=='Group' && $sortOrder=='Ascending') sort-ascending#else sort-descending#end#if($sortBy=='Group') selected#end" href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "GalleryPostSort=Group&PageIndex=1&SortOrder=$alternateSortOrder"))"><span></span>Product</a></span></th>
##				<th class="table-header-column post-date" style="width:90px; padding-left:10px;"><a class="internal-link#if($sortBy=='PostDate' && $sortOrder=='Ascending') sort-ascending#else sort-descending#end#if($sortBy=='PostDate') selected#end" href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "GalleryPostSort=PostDate&PageIndex=1&SortOrder=$alternateSortOrder"))"><span></span>$core_v2_language.GetResource('MediaGalleries_FileList_Date')</a></span></th>
                  <th class="table-header-column post-rating" style="width:55px;color:#77BF40;font-weight:normal;padding-right:16px;"><span></span>$core_v2_language.GetResource('MediaGalleries_FileList_Rating')</a></span></th>
##				<th class="table-header-column post-rating" style="width:55px;"><a class="internal-link#if($sortBy=='Rating' && $sortOrder=='Ascending') sort-ascending#else sort-descending#end#if($sortBy=='Rating') selected#end" href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "GalleryPostSort=Rating&PageIndex=1&SortOrder=$alternateSortOrder"))"><span></span>$core_v2_language.GetResource('MediaGalleries_FileList_Rating')</a></span></th>
			</tr>
		</thead>
		<tbody>
	</table>
<div class="documents-post-list">
	<ul class="table-list jcarousel-skin-tango omnicarousel" style="list-style-type: none; list-style-position: inside; list-style-image: none; padding-left: 0px; width:699px;">
#each

## - mhunter - start off each document with the ability to show it
#set($showDoc = true)

## - mhunter - if filterAllGroups then check to see if context user is a member of one of the associated products
#if($filterAllGroups == "true")
    #set($showDoc = false)
    #foreach($group in $media.Groups)
        
    	#set($groupUser = false)
    	#set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId=$core_v2_user.Accessing.Id}"))
    	#if ($groupUser != false && $groupUser.IsDirectMember)
    		#set($showDoc = true)
    	#end
    #end
#end

## - mhunter - show this media post if conditions to see it are met
#if($showDoc)
	<li class="table-item" style="clear:both; width:699px;">
		<div class="table-column" style="float:left; width:269px; min-height:25px;border-bottom:none;">
			<div class="abbreviated-post-header"></div>
			<div class="abbreviated-post">
				<h4 class="post-name"><a href="$core_v2_encoding.HtmlAttributeEncode($media.Url)" class="internal-link view-post"><span></span>$media.Title</a></h4>
			</div>
			<div class="abbreviated-post-footer"></div>
		</div>
	
##---Next line is the Type column---##    
    <div class="table-column" style="float: left;width:145px; min-height:25px;border-bottom:none;">
    
        			<span class="attribute-value">
    	#set($options = $omnicell_authentication.ListDocumentTypes())
    	#foreach($option in $options)
    	#each
    		#if($omnicellMedia.DocumentType.Id == $option.Id)
    			$option.Value
    		#end					
    	#nodata
    		None	
    	#end
    </span>
    
    #if($media.DocumentType.Value)
    	##<a href="$core_v2_encoding.HtmlAttributeEncode($media.Url)" class="internal-link view-post"><span></span>
        ##    $media.DocumentType.Value
        ##</a>
        <span class="techDocsType">$media.DocumentType.Value</span>
    #end
##        <a href="$core_v2_encoding.HtmlAttributeEncode($media.Url)" class="internal-link view-post"><span></span><div class="post-preview" style="margin:auto;">$!core_v2_ui.GetPreviewHtml($media.File.FileUrl,"%{width=32,height=32}" )</div></a>
    </div>
##---Next line is Product column---##
		<div class="table-column" style="float: left;width:200px; min-height:25px;border-bottom:none;">
			##set ($group = $core_v2_group.Get("%{Id = $media.GroupId}"))
			#foreach($group in $media.Groups)
				#set($groupUser = false)
				#set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId=$core_v2_user.Accessing.Id}"))
				##if ($groupUser != false && $groupUser.IsDirectMember)
					<a href="$core_v2_encoding.HtmlAttributeEncode($group.Url)" class="internal-link view-post product-name">$group.Name<br></a>
				##end
			#end
		</div>
##---Next line is Date column---###        
##		<div class="table-column" style="float:left; width:90px;padding-left:10px;">
##			<span class="post-date">$core_v2_language.FormatDate($media.Date)</span>

##			<span class="user-name">
##				$core_v2_language.GetResource('by') #if ($media.Author.ProfileUrl)
##					<a href="$core_v2_encoding.HtmlAttributeEncode($media.Author.ProfileUrl)" class="internal-link view-user-profile">
##						<span></span>$media.Author.DisplayName
##					</a>
##				#else
##					<span></span>$media.Author.DisplayName
##				#end
##			</span>
##		</div>

##---Next line is Rating column---##
		<div class="table-column post-rating" style="float:left;width:55px; min-height:25px;border-bottom:none;">
			<div class="post-rating">
				#set($rating = 0)
				#set($rating = $media.RatingSum / $media.RatingCount)
				#if($rating)
					<span id="$core_v2_widget.UniqueId('rating')-$media.Id"></span>
					#registerEndOfPageHtml()
						<script type="text/javascript">
						jQuery(function(j){
							j('#$core_v2_widget.UniqueId('rating')-$media.Id').evolutionStarRating({
								value: $rating,
								isReadOnly: true,
								imagesPathUrl: '$core_v2_encoding.JavascriptEncode($core_v2_page.AbsoluteUrl('~/Utility/images/small-stars/'))'
							});
						});
						</script>
					#end
				#end
			</div>
		</div>
	</li>
#end    
    
#nodata
	<div class="message norecords">$core_v2_language.GetResource('NoRecords')</div>
#afterall
		</ul>
</div>
		<div class="table-list-footer"></div>
#end