﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ControlPanel/Masters/ApiDocumentation.Master" AutoEventWireup="true" CodeBehind="Static.aspx.cs" Inherits="Telligent.Evolution.Web.ControlPanel.ApiDocumentation.Static" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content" runat="server">
<asp:Literal runat="server" ID="HelpContent"></asp:Literal>
</asp:Content>
