#set ($documentList = $omnicell_authentication.ListDocumentTypes())
#set($pageUrl = $core_v2_page.Url)



##<a #if($filterAllGroups != 'false') style="display:none" #end href="" id="$core_v2_widget.UniqueId('documentSelectionButton')"><img src="/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/type_2D00_button.jpg" style="border:none" /></a>
##<div id="$core_v2_widget.UniqueId('documentsMenuContainer')"></div>

<a href="#" id="$core_v2_widget.UniqueId('documentSelectionButton')"><img src="/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/type_2D00_button.jpg" style="border:none" /></a>
<div id="$core_v2_widget.UniqueId('documentsMenuContainer')"></div>

<script type="text/javascript">
	var documentSelectButton = jQuery("#$core_v2_widget.UniqueId('documentSelectionButton')");
	var documentsMenuContainerString = "$core_v2_widget.UniqueId('documentsMenuContainer')";
	var documentsMenuContainer = jQuery('#' + documentsMenuContainerString );
	var documents = new Array();
	
##	#foreach ($format in $formatList)
##		#if($filterFormatId == $format.Id)
##			#set($selectedFormat = $format.Value)
##		#end
##
##		var menuItem$format.Id = 
##		{
##			id:'$format.Id',
##			text:'$format.Value',
##			url:'$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($pageUrl, "FilterFormatId=$format.Id"))'
##		};		
##
##		formats.push(menuItem$format.Id);
##	
##	#end
	
   jQuery(function(){
//   jQuery(document).ready(function(){  
	documentsMenuContainer.glowPopUpMenu({
		groupCssClass: 'menu media-format-list',
		itemCssClass: 'menu-item media-format',
		itemSelectedCssClass: 'menu-item media-format selected',
//		groupCssClass: 'menu moderation-content menu__moderation-content',
//		itemCssClass: 'menu-item menu__moderation-content__menu-item',
//		itemSelectedCssClass: 'menu-item hover menu__moderation-content__menu-item__hover',
//		itemExpandedCssClass: 'menu-item expanded',
		position: 'down',
		zIndex: 100,
		menuItems: []
	});
	

	#foreach ($document in $documentList )
		#if($filterDocumentId == $document.Id)
			#set($selectedDocumentType = $document.Value)
		#end

		documentsMenuContainer.glowPopUpMenu('add', documentsMenuContainer.glowPopUpMenu('createMenuItem', {
			id:'$document.Id',
			text:'$document.Value',
			url:'$core_v2_page.AdjustQueryString($pageUrl, "FilterDocumentId=$document.Id")'
		}));
	
	#end


	documentSelectButton.click(function()
	{
		if (!documentsMenuContainer.glowPopUpMenu('isOpen'))
			documentsMenuContainer.glowPopUpMenu('open', this);
		else
			documentsMenuContainer.glowPopUpMenu('close');
		
		return false;
	});
});
</script>

