<div class="filter thumbnail">
	<div class="view-type">
		<span class="filter-option#if($viewType=='Thumbnail') selected#end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'GalleryViewType=Thumbnail'))" class="internal-link view-thumbnail-list">$core_v2_language.GetResource('MediaGalleryViewType_Thumbnail_Link')</a></span>
		<span class="filter-option#if($viewType=='List') selected#end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'GalleryViewType=List'))" class="internal-link view-detail-list">$core_v2_language.GetResource('MediaGalleryViewType_List_Link')</a></span>
	</div>
	<div class="query-filter">
		<span class="filter-label">$core_v2_language.GetResource('Sortby'):</span>
		<span class="filter-option#if($sortBy=='PostDate') selected#end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'GalleryPostSort=PostDate&PageIndex=1'))">$core_v2_language.GetResource('Recent')</a></span>
		<span class="filter-option#if($sortBy=='Subject') selected#end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'GalleryPostSort=Subject&PageIndex=1'))">$core_v2_language.GetResource('Name')</a></span>
		<span class="filter-option#if($sortBy=='Downloads') selected#end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'GalleryPostSort=Downloads&PageIndex=1'))">$core_v2_language.GetResource('Downloads')</a></span>
		<span class="filter-option#if($sortBy=='Views') selected#end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'GalleryPostSort=Views&PageIndex=1'))">$core_v2_language.GetResource('Views')</a></span>
		<span class="filter-option#if($sortBy=='Comments') selected#end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'GalleryPostSort=Comments&PageIndex=1'))">$core_v2_language.GetResource('Comments')</a></span>
		<span class="filter-option#if($sortBy=='Rating') selected#end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, 'GalleryPostSort=Rating&PageIndex=1'))">$core_v2_language.GetResource('Rating')</a></span>
	</div>
</div>

#foreach($media in $documentMedias)
#beforeall
	<div class="content-list-header file-thumbnail-list"></div>
	<ul class="content-list file-thumbnail-list">
#each
	<li class="content-item file-thumbnail-list">
		<div class="abbreviated-post-header"></div>
		<div class="abbreviated-post">
			<div class="post-thumbnail"><a href="$core_v2_encoding.HtmlAttributeEncode($media.Url)">$!core_v2_ui.GetPreviewHtml($media.File.FileUrl, "%{width=103,height=92}")</a></div>
			<div class="post-author">
				<span class="avatar">$core_v2_ui.GetResizedImageHtml($media.Author.AvatarUrl,32,32,"%{alt=$media.Author.DisplayName}")</span>
				<span class="user-name">
					#if ($media.Author.ProfileUrl)
						<a href="$core_v2_encoding.HtmlAttributeEncode($media.Author.ProfileUrl)" class="internal-link view-user-profile">$media.Author.DisplayName</a>
					#else
						$media.Author.DisplayName
					#end
				</span>
			</div>
			<h4 class="post-name"><a href="$core_v2_encoding.HtmlAttributeEncode($media.Url)" class="internal-link view-post"><span></span>$media.Title</a></h4>
			<div class="post-rating">
				#set($rating = false)
				#set($rating = $media.RatingSum / $media.RatingCount)
				#if($rating)
					<span id="$core_v2_widget.UniqueId('rating')-$media.Id"></span>
					#registerEndOfPageHtml()
						<script type="text/javascript">
						jQuery(function(j){
							j('#$core_v2_widget.UniqueId('rating')-$media.Id').evolutionStarRating({
								value: $rating,
								isReadOnly: true,
								imagesPathUrl: '$core_v2_encoding.JavascriptEncode($core_v2_page.AbsoluteUrl('~/Utility/images/small-stars/'))'
							});
						});
						</script>
					#end
				#end
			</div>
		</div>
		<div class="abbreviated-post-footer"></div>
	</li>
#nodata
	<div class="message norecords">$core_v2_language.GetResource('NoRecords')</div>
#afterall
	</ul>
	<div class="content-list-footer file-thumbnail-list"></div>
#end