﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<TelligentEvolution.Mobile.Web.Data.Entities.Group>" %>
<% Html.RenderAction("GroupAppList", "Places", new { area = "Places", groupId = Model.Id });%>
<% Html.RenderAction("SubGroupList", "Places", new { area = "Places", groupId = Model.Id });%>