﻿<%@ Page EnableViewState="false" Language="C#" AutoEventWireup="true" MasterPageFile="theme.Master" %>

<asp:Content ContentPlaceHolderID="content" runat="server">
    <TEBlog:WeblogThemeContentFragmentPage runat="server" PageName="taglist" />
</asp:Content>