#set ($isPageLevelUserAccessingUser = false)
#if ($core_v2_user.Current.Id == $core_v2_user.Accessing.Id)
	#set ($isPageLevelUserAccessingUser = true)
#end

#set ($applicationType = '')
#set ($applicationType = $core_v2_page.GetQueryStringValue('ApplicationType'))
#set ($contentTypes = '')
#if ($applicationType == 'Forums')
	#set ($contentTypes = "$core_v2_forum.ApplicationTypeId,$core_v2_forumThread.ContentTypeId")
#elseif ($applicationType == 'Wikis')
	#set ($contentTypes = "$core_v2_wiki.ApplicationTypeId,$core_v2_wikiPage.ContentTypeId")
#elseif ($applicationType == 'Weblogs')
	#set ($contentTypes = "$core_v2_blog.ApplicationTypeId,$core_v2_blogPost.ContentTypeId")
#elseif ($applicationType == 'Media')
	#set ($contentTypes = "$core_v2_gallery.ApplicationTypeId,$core_v2_media.ContentTypeId")
#elseif ($applicationType == 'Core')
	#set ($contentTypes = "$core_v2_group.ContainerTypeId")
#end

#set ($bookmarks = $core_v2_bookmark.List("%{ UserId = $user.Id, PageSize = $pageSize, PageIndex = $pageIndex, ContentTypeIds = $contentTypes }"))

<div class="filter">
	<div class="query-filter">
		<span class="filter-option #if($applicationType == '') selected #end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ApplicationType=&$core_v2_ui.PageIndexQueryStringKey=1"))">$core_v2_language.GetResource('Everything')</a></span>
		#if ($core_v2_forumConfiguration.IsEnabled)
		<span class="separator">|</span>
		<span class="filter-option #if($applicationType == 'Forums') selected #end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ApplicationType=Forums&$core_v2_ui.PageIndexQueryStringKey=1"))">$core_v2_language.GetResource('forums')</a></span>
		#end
		#if ($core_v2_blogConfiguration.IsEnabled)
		<span class="separator">|</span>
		<span class="filter-option #if($applicationType == 'Weblogs') selected #end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ApplicationType=Weblogs&$core_v2_ui.PageIndexQueryStringKey=1"))">$core_v2_language.GetResource('weblogs')</a></span>
		#end
		#if ($core_v2_wikiConfiguration.IsEnabled)
		<span class="separator">|</span>
		<span class="filter-option #if($applicationType == 'Wikis') selected #end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ApplicationType=Wikis&$core_v2_ui.PageIndexQueryStringKey=1"))">$core_v2_language.GetResource('wikis')</a></span>
		#end
		#if ($core_v2_mediaConfiguration.IsEnabled)
		<span class="separator">|</span>
		<span class="filter-option #if($applicationType == 'Media') selected #end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ApplicationType=Media&$core_v2_ui.PageIndexQueryStringKey=1"))">$core_v2_language.GetResource('files')</a></span>
		#end
		<span class="separator">|</span>
		<span class="filter-option #if($applicationType == 'Core') selected #end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ApplicationType=Core&$core_v2_ui.PageIndexQueryStringKey=1"))">$core_v2_language.GetResource('hubs')</a></span>
	</div>
</div>

#foreach ($bookmark in $bookmarks)
#beforeall
	<div class="content-list-header"></div>
	<ul class="content-list">
#each
	#set ($isPost = false)
	#set ($bookmarkType = '')

    #set ($contentType = $core_v2_contentType.Get($bookmark.Content.ContentTypeId))
    #if ($contentType)
        #set($bookmarkType = $contentType.Name)
    #end

    #set ($appType = false)
    #set ($appType = $core_v2_applicationType.Get($bookmark.Content.ContentTypeId))
    #if ($appType && $appType.Errors.Count > 0)
        #set ($isPost = true)
    #end

	<li class="content-item#if ($isPageLevelUserAccessingUser) with-button#end">
		#if ($isPost)
			<span class="avatar">
				<a href="$core_v2_encoding.HtmlAttributeEncode($bookmark.Content.Url)">
					$core_v2_ui.GetResizedImageHtml($bookmark.User.AvatarUrl, 32, 32, "%{border='0', alt=$bookmark.User.DisplayName}")
				</a>
			</span>
		#else
			#set ($group = false)
			#set ($group = $core_v2_group.Get($bookmark.Content.Application.Container.ContainerId))
			#if ($group)
				<span class="avatar">
					<a href="$core_v2_encoding.HtmlAttributeEncode($bookmark.Content.Url)">
						$core_v2_ui.GetResizedImageHtml($group.AvatarUrl, 32, 32, "%{border='0', alt=$group.Name}")
					</a>
				</span>
			#end
		#end
		<div class="favorite-type">
			#if($bookmarkType && $bookmarkType != '') $bookmarkType : #end
		</div>
		<a class="internal-link view-post" href="$core_v2_encoding.HtmlAttributeEncode($bookmark.Content.Url)" data-contentid="$bookmark.ContentId"><span></span>$core_v2_language.Truncate($bookmark.Content.HtmlName("Web"), 35, '…')</a>
		#if ($isPageLevelUserAccessingUser)
			<div class="favorite-actions">
				<a style="display: inline;" href="#" class="internal-link favorite-on">
					<span></span>$core_v2_language.GetResource('Favorites_RemoveToFavorites')
				</a>
			</div>
		#end
	</li>
#afterall
	</ul>
	<div class="content-list-footer"></div>
	$core_v2_ui.Pager($bookmarks.PageIndex, $bookmarks.PageSize, $bookmarks.TotalCount )
#nodata
	<div class="message norecords">
		$core_v2_language.FormatString($core_v2_language.GetResource('Profile_NoFavoritePosts'), $user.DisplayName)
	</div>
#end

#registerEndOfPageHtml('telligent.evolution.widgets.favorableContentList')
	<script type="text/javascript" src="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.GetFileUrl("ui.js"))"></script>
#end
#registerEndOfPageHtml()
	<script type="text/javascript">
		jQuery(function(j){
			j.telligent.evolution.widgets.favorableContentList.register({
				wrapperId: '#$core_v2_widget.WrapperElementId',
				unfavoriteUrl: '$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('unfavorite.vm'))',
				userId: $user.Id
			});
		});
	</script>
#end
