#if ($group.GroupType == 'Joinless')
	$core_v2_widget.Hide()
#end

#set($title = $core_v2_user.Accessing.ProfileFields.Get("Title").Value)

#set($groupUsers = $core_v2_groupUserMember.List($group.Id, "%{MembershipType='Manager,Member,Owner',SortBy='Username',SortOrder='Descending',PageSize=100,IncludeRoleMembers='True'}"))

#set($members = "%{}")

#set($user = $core_v2_user.Accessing)

#set($count = 0)

#foreach($groupUser in $groupUsers)
	#if($groupUser.User.Id != $user.Id)
		#if($count < 5 && $groupUser.User.ProfileFields.Get("Title").Value == $title)
			#set($count = $count + 1)
			$members.Add($count, $groupUser)
		#end
	#end
#end

<div class="omnicell-local-members-list">
    <div class="content-list-header">Your Peers</div>
    $core_v2_widget.ExecuteFile("render-list.vm")
</div>