#set($pageSize = $core_v2_widget.GetIntValue('pageSize', 5))
#set($pageIndex = $core_v2_ui.GetCurrentPageIndex())
#set($query = "%{PageSize=$pageSize,PageIndex=$pageIndex}")

#set($groupId = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('groups', '')).Value('Group'))
#set($includeSubGroups = $core_v2_widget.GetBoolValue('includeSubGroups', true))
#if ($groupId)
    #set($group = false)
    #if ($groupId == -1)
        #set($group = $core_v2_group.Current)
    #else
        #set($group = $core_v2_group.Get("%{Id=$core_v2_utility.ParseInt($groupId)}"))
    #end

    #if ($group && $group.Id != $core_v2_group.Root.Id)
        #if ($includeSubGroups)
            #set($containerIds = "$group.ContainerId")
            #foreach($subGroup in $core_v2_group.List("%{ IncludeAllSubGroups = 'true', PageSize = 50, ParentGroupId = $group.Id, Permission = 'Group_ReadGroup' }"))
                #set($containerIds = "$containerIds,$subGroup.ContainerId")
            #end
            $query.Add('ContainerIds', $containerIds)
        #else
            $query.Add('ContainerIds', $group.ContainerId)
        #end
    #end
#end

#set($includeBlogPosts = $core_v2_widget.GetBoolValue('includeBlogPost', false))
#set($includeForumThread = $core_v2_widget.GetBoolValue('includeForumThread', false))
#set($includeMedia = $core_v2_widget.GetBoolValue('includeMedia', false))
#set($includeWikiPage = $core_v2_widget.GetBoolValue('includeWikiPage', false))
#if($includeBlogPosts || $includeForumThread || $includeMedia || $includeWikiPage)
    #set($contentTypeIds = '')
    #if ($includeBlogPosts)
        #set($contentTypeIds = "$core_v2_blogPost.ContentTypeId")
    #end
    #if ($includeForumThread)
        #if ($contentTypeIds.Length > 0)
            #set($contentTypeIds = "$contentTypeIds,")
        #end
        #set($contentTypeIds = "$contentTypeIds$core_v2_forumThread.ContentTypeId")
    #end
    #if ($includeMedia)
        #if ($contentTypeIds.Length > 0)
            #set($contentTypeIds = "$contentTypeIds,")
        #end
        #set($contentTypeIds = "$contentTypeIds$core_v2_media.ContentTypeId")
    #end
    #if ($includeWikiPage)
        #if ($contentTypeIds.Length > 0)
            #set($contentTypeIds = "$contentTypeIds,")
        #end
        #set($contentTypeIds = "$contentTypeIds$core_v2_wikiPage.ContentTypeId")
    #end

    $query.Add('ContentTypeIds', $contentTypeIds)
#end

#set($contentRecommendations = $core_v2_contentRecommendation.List($query))

#foreach($contentRecommendation in $contentRecommendations)
#beforeall
    <div class="content-list-header"></div>
    <ul class="content-list">
#each
    <li class="content-item">
        <div class="abbreviated-post-header"></div>
        <div class="abbreviated-post">
            <h4 class="post-name"><a href="$core_v2_encoding.HtmlAttributeEncode($contentRecommendation.Content.Url)">$contentRecommendation.Content.HtmlName('Web')</a></h4>
            <div class="post-attributes">
               <div class="attribute-list-header"></div>
               <ul class="attribute-list">
                  #set($likes = false)
                  #set($likes = $core_v2_like.List("%{ContentId=$contentRecommendation.Content.ContentId,PageSize=1,PageIndex=0}"))
                  #if ($likes && $likes.TotalCount > 0)
                     <li class="attribute-item likes"><span class="attribute-value">
                        #if ($likes.TotalCount == 1)
                           $core_v2_language.FormatString($core_v2_language.GetResource('likes_singular'), $core_v2_language.FormatNumber($likes.TotalCount))
                        #else
                           $core_v2_language.FormatString($core_v2_language.GetResource('likes_plural'), $core_v2_language.FormatNumber($likes.TotalCount))
                        #end
                     </span></li>
                  #end
                </ul>
                <div class="attribute-list-footer"></div>
            </div>
            <div class="post-summary">
                $core_v2_language.Truncate($contentRecommendation.Content.HtmlDescription('Web'), 60, '...')
            </div>
            <div class="post-actions">
                <div class="navigation-list-header"></div>
                <ul class="navigation-list">
                    <li class="navigation-item"><a href="#" title="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('remove'))" class="internal-link ignore-suggestion" data-contentid="$contentRecommendation.Content.ContentId">$core_v2_language.GetResource('remove')</a></li>
                </ul>
                <div class="navigation-list-footer"></div>
            </div>
    	</div>
    	<div class="abbreviated-post-footer"></div>
    </li>
#afterall
    </ul>
    <div class="content-list-footer"></div>
#nodata
    <div class="message norecords">$core_v2_language.GetResource('no_suggestions')</div>
#end
