﻿<%@ Page Language="C#"  AutoEventWireup="false" Inherits="Telligent.Evolution.ControlPanel.Groups.ThemeConfiguration" MasterPageFile="~/ControlPanel/Masters/Groups.master" %>

<asp:Content ContentPlaceHolderId="TopLeft" runat="server">
    <CP:ControlPanelSelectedNavigation SelectedNavItem="ThemeOptions" runat="server" />
</asp:Content>

<asp:Content ContentPlaceHolderId="TaskRegion" runat="Server">

</asp:Content>