﻿<%@ Page EnableViewState="false" Language="C#" AutoEventWireup="true" MasterPageFile="master.Master" %>

<asp:Content ContentPlaceHolderID="content" runat="server">
    <TEControl:SiteThemeContentFragmentPage runat="server" IsCustomPage="true" />
</asp:Content>