<%@ Page EnableViewState="false" Language="C#" AutoEventWireup="true" MasterPageFile="~/themes/generic/common/master.Master" %>

<asp:Content ContentPlaceHolderID="content" runat="server">
    <TEControl:UserThemeContentFragmentPage runat="server" PageName="common-home" UseAccessingUser="true" />
</asp:Content>