<%@ Master Language="C#" AutoEventWireup="true" %>
<%@ Import Namespace="Telligent.Evolution.Components" %>

<script runat="server">

    protected override void OnInit(EventArgs e)
    {
        CSContext.Current.IsModal = true;
				Response.CacheControl = "no-cache";
				Response.Cache.SetCacheability(HttpCacheability.NoCache);
				base.OnInit(e);
    }
    
</script>

<!DOCTYPE html>
<html lang="en">
    <head runat="server">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <TEControl:Head runat="Server" EnableDefaultFavicon="false" />
        <TEControl:JQuery runat="server" />
        <TEControl:JQueryGlow runat="server" />
        <TEControl:JQueryEvolution runat="server" />
    </head>
	<body class="modal <%= Telligent.Evolution.Components.CSContext.Current.User.Profile.Language.ToLowerInvariant() %>" spellcheck="true">
		<form runat="server">
			<asp:ContentPlaceHolder id="content" runat="server" />
		</form>
	</body>
</html>
