$core_v2_page.SetContentType("text/css") 

.content-fragment.media-gallery-post.omnicell-media-gallery-post {}
    .content-fragment.media-gallery-post.omnicell-media-gallery-post .full-post .post-content p { margin: 0; }
    .content-fragment.media-gallery-post.omnicell-media-gallery-post .full-post .product-panel { margin:10px 0 5px; }
    .content-fragment.media-gallery-post.omnicell-media-gallery-post .full-post .file-panel ul { list-style:none;padding:0; }
    .content-fragment.media-gallery-post.omnicell-media-gallery-post .full-post .post-tags { background: none; border: medium none; margin-left: 0; padding-left:0; }
        .content-fragment.media-gallery-post.omnicell-media-gallery-post .full-post .post-tags a { font-weight: normal; }
    .content-fragment.media-gallery-post.omnicell-media-gallery-post .full-post .post-name { border-bottom: 0; }
	.content-fragment.media-gallery-post .full-post .post-name .internal-link.download-attachment { padding-left: 0px !important;}
    .content-fragment.media-gallery-post.omnicell-media-gallery-post .full-post .post-content.user-defined-markup { border:none; margin-bottom:0; }

    .content-fragment.media-gallery-post.omnicell-media-gallery-post a.action-button { float:right; margin-right:40px; background: transparent no-repeat center center; color: #6E727D; display: inline-block; height: 24px; width:97px; text-decoration:none; text-indent: -999px; overflow:hidden; }
    .content-fragment.media-gallery-post.omnicell-media-gallery-post a.button-download { background-image: url("$core_v2_widget.GetFileUrl('download.png')") }
    .content-fragment.media-gallery-post.omnicell-media-gallery-post a.button-register { background-image: url("$core_v2_widget.GetFileUrl('register.png')") }