﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<TelligentEvolution.Mobile.Web.Models.BasePageViewModel>" %>
<!--
<% if (Model.UserContext != null && Model.UserContext.IsAuthenticated) { %>
    <%= Html.UserDetailsLink(Model.UserContext) %>
<% } else { %>
    <%= Html.LinkButton(Html.LocalizedString("Core_Master_Login"), "LogOn", "Account", new { area = "", returnUrl = Request.Url.ToString() }, "internal-link view-login")%>
<% } %>
-->
<%= Html.FullSiteLink(Model)%>