<%@ Page EnableViewState="false" Language="C#" AutoEventWireup="true" MasterPageFile="blogs.Master" %>

<asp:Content ContentPlaceHolderID="content" runat="server">
    <TEControl:GroupThemeContentFragmentPage runat="server" PageName="blogs-taglist" />
</asp:Content>