<%@ Page EnableViewState="false" Language="C#" AutoEventWireup="true" MasterPageFile="wikis.Master" %>

<asp:Content ContentPlaceHolderID="content" runat="server">
    <TEControl:GroupThemeContentFragmentPage runat="server" PageName="wikis-taglist" />
</asp:Content>