#foreach ($content in $taggedContent)
#nodata
    $core_v2_language.GetResource('TaggedContent_NotFound')
#beforeall
	<div class="content-list-header simple"></div>
	<ul class="content-list simple">
#each
	#set ($user = false)
	#set ($contentType = '')
	#if ($content.Content.CreatedByUserId)
		#set ($user = $core_v2_user.Get("%{Id=$content.Content.CreatedByUserId}"))
	#end
	#set ($contentType = $core_v2_contentType.Get($content.Content.ContentTypeId))

	<li class="content-item">
		<div class="abbreviated-post-header"></div>
		<div class="abbreviated-post">
			<h4 class="post-name">
				#if($contentType)
					$contentType.Name:
				#end
				<a href="$core_v2_encoding.HtmlAttributeEncode($content.Content.Url)">$content.Content.HtmlName('Web')</a>
			</h4>
			<div class="post-date">
				<span class="label">$core_v2_language.GetResource('SearchResults_On')</span>
				<span class="value">$core_v2_language.FormatAgoDate($content.Content.CreatedDate)</span>
			</div>
			<div class="post-author">
				<span class="post-author-by">by</span>
				<span class="user-name">
					#if ($user)
						#if ($user.ProfileUrl)
							<a class="internal-link view-user-profile" href="$core_v2_encoding.HtmlAttributeEncode($user.ProfileUrl)">
								<span></span>$user.DisplayName
							</a>
						#else
							$user.DisplayName
						#end
					#end
				</span>
			</div>
		</div>
		<div class="abbreviated-post-footer"></div>
	</li>
#afterall
	</ul>
	<div class="content-list-footer simple"></div>
#end

$core_v2_ui.Pager($taggedContent.PageIndex, $taggedContent.PageSize, $taggedContent.TotalCount)
