#foreach($group in $groups)
#beforeall
	<div class="content-list-header"></div>
	<ul class="content-list">
#each
	<li class="content-item simple">
		<span class="group-avatar"><a href="$core_v2_encoding.HtmlAttributeEncode($group.Url)">$core_v2_ui.GetResizedImageHtml($group.AvatarUrl, 30, 30, "%{alt=$group.Name,border='0'}")</a></span>
		<span class="group-name"><a href="$core_v2_encoding.HtmlAttributeEncode($group.Url)" class="internal-link view-group"><span></span>$core_v2_language.Truncate($group.Name, 25, '...')</a></span>
	</li>
#afterall
	</ul>
	<div class="content-list-footer"></div>
#nodata
	<div class="message norecords">$core_v2_language.GetResource('Groups_GroupList_NoGroups')</div>
#end