#set ($pagedListUrl = false)

#if ($appeal)
	#set ($appeals = [$appeal])
#else
	#set ($pagedListUrl = $core_v2_widget.GetExecutedFileUrl('load-appeals.vm'))
	#set ($pageSize = 10)
	#set ($pageIndex = $core_v2_ui.GetCurrentPageIndex())
	#set ($resultsFound = false)

	## loop twice so we can try again if we don't find results the first time
	#foreach($i in [1..2])
		#if(!$resultsFound)
			#set ($appealStateFilter = false)
			#set ($appealStateFilter = $core_v2_page.GetQueryStringValue('w_appealState'))
			#if (!$appealStateFilter && $defaultAppealState)
				#set ($appealStateFilter = $defaultAppealState)
			#end

			#set ($groupFilter = false)
			#set ($groupFilter = $core_v2_page.GetQueryStringValue('w_groupId'))
			#if (!$groupFilter && $containerId)
				#set ($groupFilter = $containerId)
			#end

			#set ($sortBy = false)
			#set ($sortBy = $core_v2_page.GetQueryStringValue('w_sortBy'))

			#set ($appealListOptions = "%{ PageIndex = $pageIndex, PageSize = $pageSize }")
			#if ($appealStateFilter)
				$appealListOptions.Add('AppealState', $appealStateFilter)
			#end
			#if ($groupFilter)
				$appealListOptions.Add('ContainerId', $groupFilter)
			#end
			#if ($sortBy)
				$appealListOptions.Add('SortBy', $sortBy)
			#end

			#set ($appeals = $core_v2_abuseAppeal.List($appealListOptions))
			
			#if ($appeals.Count == 0 && $pageIndex > 0)
				#set ($pageIndex = 0)
			#end
		#end
	#end
#end

#foreach ($appeal in $appeals)
#beforeall
	<div class="content-list-header"></div>
	<ul class="content-list">
#each
	$core_v2_widget.ExecuteFile('appeal.vm')
#afterall
	</ul>
	<div class="content-list-footer"></div>
#nodata
	<div class="message norecords">
		$core_v2_language.GetResource('No_Appeals')
	</div>
#end

#if ($pagedListUrl)
	$core_v2_ui.Pager($appeals.PageIndex, $appeals.PageSize, $appeals.TotalCount, "%{ PagedContentUrl = $pagedListUrl, Transition = 'none' }")
#end
