$core_v2_page.SetContentType("text/css")

.omnicell-course-list { }

    .omnicell-course-list .filter-panel {}
        .omnicell-course-list .filter-panel .filter-list { float: left; margin-bottom: 3px; }
    .omnicell-course-list .filter-product-panel { clear:both; }
        .omnicell-course-list .filter-product-panel .filter-products { float:right; line-height: 30px; position: relative; width: 165px; font-size: 12px; }
            .omnicell-course-list .filter-product-panel .filter-products input { position: absolute; right: 0; top: 5px; }
        
    
    .omnicell-course-list .resultscontainer { clear: both; padding-top: 10px; }

    .omnicell-course-list a.omnicell-filter-list-button { padding:0 30px 0 4px; letter-spacing:0.4px; font-size:12px; background: url("$core_v2_widget.GetFileUrl('btnFilter.png')") no-repeat scroll right -27px transparent; color: #6E727D; display: inline-block; font-weight: bold; height: 27px; line-height: 27px; margin-left: 10px; min-width: 50px; position: relative; z-index: 3; text-decoration:none; }
		.omnicell-course-list a.omnicell-filter-list-button span { background: url("$core_v2_widget.GetFileUrl('btnFilter.png')") no-repeat scroll left top transparent; display: inline-block; height: 27px; left: -5px; position: absolute; top: 0; width: 7px;}
    

	.omnicell-course-list .media-list { list-style:none; padding:0; margin:0 0 20px; }
		.omnicell-course-list .media-list li { border-top: 2px dotted #eee; padding: 8px; clear:both; line-height: 19px; }
		.omnicell-course-list .media-list li:nth-child(even) { background-color: #faf9fa; }   
        .omnicell-course-list .media-list li .title { float: left; }
		    .omnicell-course-list .media-list li .title a { font-size: 13px; }
		.omnicell-course-list .media-list li .date-panel {font-size: 12px; }
		.omnicell-course-list .media-list li .info-panel { padding-left:11px; font-size: 12px; float: right; min-width:25%; }
			.omnicell-course-list .media-list li .info-panel .format { padding-right: 8px; }
			.omnicell-course-list .media-list li .info-panel .products {  }
    