<%@ Page EnableViewState="false" Language="C#" AutoEventWireup="true" MasterPageFile="mediagalleries.Master" %>

<asp:Content ContentPlaceHolderID="content" runat="server">
    <TEControl:GroupThemeContentFragmentPage runat="server" PageName="media-postlist" />
</asp:Content>